{% extends 'pages/courses/course.twig' %}

{% set sections = {
	formats: {
		title: 'Формы обучения на курсе для детей “' ~ course.title ~ '”',
		description: 'Ваш ребенок может проходить данный курс индивидуально в двух форматах. Стоимость обучения зависит от количества приобретенных уроков в пакете.',
		items: [
			{
				title: 'Офлайн индивидуально',
				description: 'Если вы хотите личный контакт и персональный подход для своего ребенка',
				price: course.formats.individual_offline.price,
				lesson_duration: course.formats.individual_offline.lesson_duration
			},
			{
				title: 'Онлайн индивидуально',
				description: 'Уроки в любом месте и в удобное для родителя время',
				price: course.formats.individual_online.price,
				lesson_duration: course.formats.individual_online.lesson_duration
			}
		]
	},

	facts: {
		title: 'Почему дети начинают разговаривать на английском, любить язык и получать хорошие отметки в школе, обучаясь в SAY YES?',
		grid: '2-sm',
		items: [
			{
				title: 'Уроки построены на интересах вашего ребенка',
				description: 'Включаем в программу обсуждение любимых игр, мультфильмов и книг. Даже непоседе не удастся заскучать!',
				image: 'heart-2'
			},
			{
				title: 'Талантливые педагоги с профильным образованием',
				description: 'Преподавателей отбираем  по опыту и дипломам, а также по отзывам родителей учеников.',
				image: 'woman'
			},
			{
				title: 'Разговорный онлайн-клуб с носителями языка',
				description: 'Организовываем дополнительную практику “живого” языка. Общение на английском с ровесниками и море позитивных эмоций.',
				image: 'comments-2'
			},
			{
				title: 'Программа для конкретных целей',
				description: 'Повышение успеваемости в школе? Нужно «разговорить» ребенка или «почистить» грамматику? Работаем над вашей целью до получения результата.',
				image: 'target'
			}
		]
	},

	testimonials: {
		title: 'Отзывы о курсе для детей<br>' ~ course.title
	}
} %}


{% block trial_lesson %}
	{% embed 'components/section.twig' with {
		name: 'request-lesson',
		title: 'Узнайте уровень английского у вашего ребенка на пробном бесплатном уроке, где вы также:',
		color: 'yellow'
	} %}
		{% block content %}
			{% include 'components/list.twig' with {
				items: [
					'Познакомитесь с методикой и программой обучения.',
					'Получите план изучения языка.',
					'Оцените, нравится ли вам преподаватель.'
				],
				type: 'check',
				align_marker: 'center'
			} %}

			<div class="card">
				{% include 'blocks/request-form.twig' with {
					children: true
				} %}
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}


{% block results %}
	{% embed 'components/section.twig' with {
		name: 'course-fesults'
	} %}
		{% block content %}
			<img class="image" src="{{theme.link}}/static/images/pictures/{{course.name}}.jpg" alt="">

			<div class="card">
				{% if course.features %}	
					<div class="card__body">
						<h3 class="card__title">
							{% if course.features.title %}
								{{course.features.title}}
							{% else %}
								Особенности обучения на курсе “{{course.title}}”:
							{% endif %}
						</h3>

						<div class="card__content content">
							{{course.features.content}}
						</div>
					</div>
				{% endif %}

				{% if course.results %}	
					<div class="card__body">
						<h3 class="card__title">
							{% if course.results.title %}
								{{course.results.title}}
							{% else %}
								Результаты обучения на курсе “{{course.title}}”:
							{% endif %}
						</h3>

						<div class="card__content content">
							{{course.results.content}}
						</div>
					</div>
				{% endif %}

				<button class="btn btn--yellow btn--full" data-modal-trigger="request-modal" data-modal-options="tab:children">Записаться на бесплатный урок</button>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}


{% block video %}
	{% embed 'components/section.twig' with {
		name: 'online-video',
		class: 'video-section',
		title: 'Занятия онлайн — это удобно!',
		horizontal: true
	} %}
		{% block description %}
			<div class="text">
				<p>Обучение в комфортной и безопасной для вашего ребенка обстановке.</p>
				<p>Экономия времени на поездках к репетитору или в школу.</p>
			</div>
		{% endblock %}

		{% block media %}
			{% include 'components/video.twig' with {
				youtube_id: 'Vsfz_1QzwDA',
				image: {
					path: 'video-sections/video-section-6.jpg'
				},
				modal: true
			} %}
		{% endblock %}
	{% endembed %}
{% endblock %}


{% block teachers %}
	{% embed 'components/section.twig' with {
		name: 'course-teachers',
		title: 'Наши преподаватели найдут подход к любому ребенку',
		description: 'В нашей команде только внимательные и заботливые преподаватели с опытом обучения детей'
	} %}
		{% block content %}
			{% include 'blocks/course-teachers-slider.twig' with {
				teachers
			} %}

			<div class="grid grid-3">
				{% for item in [
					{
						title: 'Строгий кастинг педагогов',
						description: 'Отбор проходит только 1 из 50 преподавателей',
						image: 'casting'
					},
					{
						title: 'Профильное образование',
						description: 'Проверяем наличие  дипломов, сертификатов и профессионального образования',
						image: 'diploma-2'
					},
					{
						title: 'Контроль качества обучения',
						description: 'Регулярно собираем отзывы и контролируем результат и качество обучения',
						image: 'comment-2'
					}
				] %}
					<div class="text-card text-card--{{item.image}}-bg card card--white">
						<h4 class="card__title">{{item.title}}</h4>
						<p class="card__description">{{item.description}}</p>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}


{% block progress %}
	{% embed 'components/section.twig' with {
        name: 'course-progress',
        title: 'Лучшие показатели нашей работы — это ученики, владеющие языком и довольные родители!',
        description: 'Родители наших учеников рассказывают о результатах и процессе обучения детей в ' ~ COMPANY_NAME
    } %}
        {% block content %}
			{% include 'blocks/course-results-slider.twig' with {
				items: [
					{
						parent: {
							name: 'Ольга',
							icon: 'icon--fb',
							url: '#'
						},
						baby: 'Мама ученицы Кати, 10 лет',
						description: '«Всем привет! Моя дочь Катюша в 4 классе, где-то полгода назад мы начали заниматься в языковой школе Say Yes! Изначально я относилась немного скептически к идее...»',
						img: 'review-1',
						videoId: 'video-21',
						videoUrl: 'https://www.youtube.com/embed/6ISA01NE2rY'
					},
					{
						parent: {
							name: 'Ирина',
							icon: 'icon--inst',
							url: '#'
						},
						baby: 'Мама ученицы Маши, 12 лет',
						description: '«Меня зовут Ирина, моя дочь Маша занимается в школе Say Yes! В этом году мы решили заняться английским дополнительно, потому что появились проблемы в школе...»',
						img: 'review-2',
						videoId: 'video-22',
						videoUrl: 'https://www.youtube.com/embed/6ISA01NE2rY'
					}
				]
			} %}
		{% endblock %}
    {% endembed %}

	{% include 'sections/video.twig' with {
		name: 'progress-video',
		title: 'Единственная онлайн-школа, где снимают отчеты о прогрессе учеников на видео',
		description: 'Посмотрите не просто отзывы наших юных студентов, а то, как они говорят на английском',
		video: {
			youtube_id: 'Vsfz_1QzwDA',
			image: {
				path: 'video-sections/video-section-7.jpg'
			},
			framed: true,
			modal: true
		}
	} %}
{% endblock %}


{% block platform %}
	{% embed 'components/section.twig' with {
        name: 'online-class',
        title: 'Удобный онлайн-класс'
    } %}
        {% block content %}
			<div class="text">
				<p>Занятия онлайн проходят на надежной платформе, специально разработанной нашей школой: ребенок общается с преподавателем и выполняет задания в одном окне браузера.</p>

				<p>Интерактивная комната, разработанная для детей, делает процесс обучения удобным и захватывающим. Игры, интерактивные задания, видео и аудио вовлекают ребенка в процесс обучения с первых минут.</p>
			</div>
			
			<img class="image" src="{{theme.link}}/static/images/pictures/oc.jpg" alt="Say Yes">
		{% endblock %}
    {% endembed %}
{% endblock %}