<!doctype html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="{{site.charset}}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="yandex-verification" content="77618a975ea21450" />

        <title>
            {% if wp_title %}
                {{wp_title}}
            {% else %}
                {{site.name}}
            {% endif %}
        </title>

        <link rel="pingback" href="{{site.pingback_url}}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css">
        <link rel="stylesheet" href="{{theme.link}}/style.css?v={{site.version}}">

        {% block styles %}
        {% endblock %}

        {% include 'includes/yandex-metrika.twig' %}
        {% include 'includes/google-analytics.twig' %}
        {% include 'includes/facebook-pixel.twig' %}
        {# {% include 'includes/jivosite.twig' %} #}

        {% block head %}
        {% endblock %}

        {{ function('wp_head') }}
    </head>

    <body id="{{page.name}}-page" class="{{body_class}} {{layout_class}}">
        {% include 'components/header.twig' %}

        <main class="main">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        {% if page.newsletter %}
            {{newsletter}}
        {% endif %}

        {% include 'components/footer.twig' %}

        {% include 'components/request-modal.twig' %}

        {% include 'components/callback-modal.twig' %}

        {% include 'components/success-modal.twig' %}

        {% embed 'components/modal.twig' with {
            id: 'video-modal'
        } %}
            {% block content %}
                <video class="video"></video>
            {% endblock %}
        {% endembed %}

        {% embed 'components/modal.twig' with {
            id: 'embed-modal',
        } %}
            {% block content %}
                <iframe class="video-embed" width="100%" height="100%" src="" title="SAY YES!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {% endblock %}
        {% endembed %}

        {% block modal %}
        {% endblock %}

		<script src="https://www.google.com/recaptcha/api.js?render=6LenTzMiAAAAABvM_nwArCX5rtvJQ3TUQS8EsN1q"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/petite-vue"></script>
        <script src="https://static.sayes.ru/js/crm.js"></script>
        <script src="{{theme.link}}/static/scripts/main.js"></script>

        <script>
            const GRECAPTCHA = '6LenTzMiAAAAABvM_nwArCX5rtvJQ3TUQS8EsN1q';

            function validateRecaptcha() {
                grecaptcha.ready(() => {
                    grecaptcha.execute(GRECAPTCHA, { action: 'submit' })
                        .then(token => {
                            fetch({
                                type: 'POST',
                                url: '{{theme.link}}/recaptcha.php',
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8',
                                },
                                data: JSON.stringify({
                                    action: 'submit',
                                    token
                                })
                            })
                                .then(res => res.json())
                                .then(response => {
                                    if (!response.success || response.score < 0.5)
                                        throw 'Bad request';

                                    return response;
                                });
                        });
                });
            }

            const requestForms = document.querySelectorAll('.request-form').forEach(element => {
                PetiteVue.createApp({
                    $delimiters: ['${', '}'],

                    state: {
                        loading: false,
                        error: false,
                        sent: false
                    },

                    handleSubmit(event) {
                        event.preventDefault();

                        const formData = new FormData(this.$refs.form);
                        const data = Array.from(formData.entries()).reduce((data, [key, value]) => {
                            data[key] = value;
                            return data;
                        }, {});

                        validateRecaptcha()
                            .then(recaptcha => {
                                fbq('track', 'Lead');

                                crm.addStudyRequest(data);

                                fetch({
                                    type: 'POST',
                                    url: '{{theme.link}}/request.php',
                                    headers: {
                                        'Content-Type': 'application/json; charset=utf-8',
                                    },
                                    data: JSON.stringify({
                                        ...data,
                                        recaptcha
                                    })
                                }).then(response => {
                                    console.log(response);
                                    this.sent = true;
                                }).catch(error => {
                                    console.log(error);
                                    this.error = true;
                                }).finally(() => {
                                    this.loading = false;
                                    this.$refs.form.reset();
                                });
                            });
                    }
                }).mount(`#${element.id}`);
            });
        </script>

        {% block scripts %}
        {% endblock %}

        {{ function('wp_footer') }}
    </body>
</html>