{% set layout_class = 'layout-blog' %}

{% extends 'layouts/base.twig' %}

{% block content %}
<div class="page">
    <div class="page-container container">
        <div class="row">
            <div class="col-md-8">
                <main id="content">
                    {% block main %}
                    {% endblock main %}
                </main>
            </div>
            
            <div class="col-md-4">
                <aside class="blog-sidebar">
                    <section class="blog-search">
                        <form class="blog-search-form" class="form-inline" role="search" method="get" action="{{site.link}}">
                            <div  class="input-group no-border">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                
                                <input type="search" class="form-control form-control-lg no-border" placeholder="Поиск…" value="" name="s" title="Найти:">
                            </div>
                        </form>
                    </section>

                    <section class="blog-categories">
                        <h4 class="title">Рубрики</h4>

                        <div class="card">
                            <nav class="list-group list-group-flush">
                                {% for category in categories %}
                                    
                                    <a href="{{category.link}}" class="list-group-item list-group-item-action">
                                        <span>
                                            <i class="fa fa-{{category.icon}} fa-lg"></i> {{category.name}}
                                        </span>

                                        <span class="badge badge-light">{{category.count}}</span>
                                    </a>
                                {% endfor %}
                            </nav>
                        </div>
                    </section>
                    
                    <section class="blog-tags">
                        <h3 class="title">Теги</h3>

                        <div class="card">
                            <div class="card-body">
                                {% for tag in tags %}
                                    <a class="badge badge-light" href="{{tag.link}}">
                                        <i class="fa fa-tag"></i> {{tag.name}}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock content %}