<section class="about-course {{mixin}}">
	<h3 class="about-course__title">{{title}}</h3>

	<div class="about-course__info">
		<p class="about-course__text">{{text}}</p>
		<p class="about-course__purpose">{{purpose}}</p>
		{{content}}
	</div>
</section>