{% embed 'components/section.twig' with {
	name: 'awards',
	padded: true
} %}
	{% block title %}
		{{COMPANY_NAME}} — это {{COMPANY_AGE}} лет проверенного качества обучения, подтвержденного
		<a href="#" class="color-primary">лицензией и наградами</a>
		рейтинга Schoolrate
	{% endblock %}

	{% block content %}
		<div class="grid grid-4-sm grid-2-md">
			{% for item in [
				{
					year: '2017',
					number: '1',
					nomination: 'в номинации «Инноватор года»',
					description: 'Мы любим придумывать новые  образовательные решения для наших студентов.'
				},
				{
					year: '2018',
					number: '1',
					nomination: 'в номинации «Лучшие языковые мероприятия»',
					description: 'Обеспечиваем студентов практикой языка с носителями в нашем разговорном клубе.'
				},
				{
					year: '2019',
					number: '1',
					nomination: 'в номинации «Методика года»',
					description: 'Методика нашей школы «Английский до автоматизма», позволяет студентам говорить более бегло и уверенно.'
				},
				{
					year: '2020',
					number: '1',
					nomination: 'в номинации «Web-доверие»',
					description: 'Нам доверяют: 8 из 10 наших студентов выбирают нас по рекомендациям и отзывам в Интернет.'
				}
			] %}
				<div class="award-card card">
					<h3 class="card__title">{{item.year}}</h3>

					<h4 class="card__subtitle">
						№{{item.number}}
						{{item.nomination}}
					</h4>

					<p class="card__description">{{item.description}}</p>
				</div>
			{% endfor %}
		</div>

		{% include 'blocks/founders-card.twig' %}
	{% endblock %}
{% endembed %}