{% embed 'components/section.twig' with {
	name: 'awards'
} %}
	{% block title %}
		SAY YES! — это 10 лет проверенного качества обучения, подтвержденного
		<a href="#" class="text text--purple">лицензией и наградами</a>
		рейтинга Schoolrate
	{% endblock %}

	{% block content %}
		<div class="cards-grid grid grid--2">
			{% for item in [
				{
					year: '2017',
					number: '1',
					nomination: 'в номинации «Инноватор года»',
					description: 'Мы любим придумывать новые  образовательные решения для наших студентов.'
				},
				{
					year: '2018',
					number: '1',
					nomination: 'в номинации «Лучшие языковые мероприятия»',
					description: 'Обеспечиваем студентов практикой языка с носителями в нашем разговорном клубе.'
				},
				{
					year: '2019',
					number: '1',
					nomination: 'в номинации «Методика года»',
					description: 'Методика нашей школы «Английский до автоматизма», позволяет студентам говорить более бегло и уверенно.'
				},
				{
					year: '2020',
					number: '1',
					nomination: 'в номинации «Web-доверие»',
					description: 'Нам доверяют: 8 из 10 наших студентов выбирают нас по рекомендациям и отзывам в Интернет.'
				}
			] %}
				<div class="award-card card">
					<h3 class="card__title">{{item.year}}</h3>

					<h4 class="card__subtitle">
						№{{item.number}}
						{{item.nomination}}
					</h4>

					<p class="card__description">{{item.description}}</p>
				</div>
			{% endfor %}
		</div>

		<div class="license-card card card--purple">
			<picture>
				<img src="{{theme.link}}/static/images/pictures/founders-1.png" alt="Основатели школы Вера и Ольга с наградами">
			</picture>

			<h3 class="card__title">Лицензия Министерства образования № 36801</h3>

			<div class="text">
				<p>Соответствует международным стандартам обучения.</p>
				<p>Вы также сможете получить налоговый вычет.</p>
			</div>
		</div>
	{% endblock %}
{% endembed %}