<section class="big-cards {{class}}">
	<h2 class="subtitle">{{title}}</h2>
	
	<div class="big-cards__cards">
		{% for card in cards %}
			<div class="big-cards__card">
				<h4 class="big-cards__title">{{card.title}}</h4>

				<ul class="big-cards__list">
					{% for cardItem in card.list %}
						<li class="big-cards__item">{{cardItem.property}}
							<span class="big-cards__value">{{cardItem.value}}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
</section>