<section class="img-comment {{class}}">
	<div class="appeal">
		<h3 class="appeal__title">{{title}}</h3>

		<div class="appeal__text">
			{% block content %}
				{{content}}
			{% endblock %}
		</div>
	</div>

	<div class="img-comment__picture">
		<img class="img-comment__img" src="{{theme.link}}/static/images/pictures/{{img}}" alt="Say Yes">
	</div>
</section>