<section class="mainscreen-big{{mixin ? ' mainscreen-big--' ~ mixin : ''}}">
	<h1 class="title">{{title}}</h1>
    
	<div class="mainscreen-big__description">{{description}}</div>

	{% if showBtn %}
		<button class="feedback-btn btn btn--{{btnColor ?? 'yellow'}}">{{btnText}}</button>
	{% endif %}

	{% if button %}
		<button class="feedback-btn btn btn--{{button.color ?? 'yellow'}}">{{button.content}}</button>
	{% endif %}

	{% if image %}
		<img class="mainscreen-big__img" src="{{image.src}}" alt="{{image.alt}}">
	{% elseif img %}
		<img class="mainscreen-big__img" src="{{theme.link}}/static/images/mainscreens/{{img}}.jpg" alt="">
	{% endif %}

	{% if showSplit %}
		<div class="split-image">
			<img class="split-image__first-img" src="{{theme.link}}/static/images/mainscreens/{{splitImg1}}.jpg" alt="">
			<img class="split-image__second-img" src="{{theme.link}}/static/images/mainscreens/{{splitImg2}}.jpg" alt="">
		</div>
	{% endif %}

	{% block content %}
		{{content}}
	{% endblock %}
</section>