<section class="main-section">
	<h1 class="main-section__title title">{{title}}</h1>
    
	<div class="main-section__description">{{description}}</div>

	{% if button %}
		<button class="btn btn--{{button.color ?? 'yellow'}}" data-modal-trigger="request-modal">
			{{attribute(button, 'content') ? button.content : (button == true ? 'Оставить заявку' : button)}}
		</button>
	{% endif %}

	{% if image %}
		<img class="main-section__image" src="{{attribute(image, 'src') ? (image.src ?? '') : theme.link ~ '/static/images/mainscreens/' ~ image}}" alt="{{image.alt ?? ''}}">
	{% endif %}

	{% block content %}
		{{content}}
	{% endblock %}
</section>