<section class="mainscreen-big">
	<h1 class="mainscreen-big__title title">{{title}}</h1>
    
	<div class="mainscreen-big__description">{{description}}</div>

	{% if button %}
		<button class="feedback-btn btn btn--{{button.color ?? 'yellow'}}">
			{{attribute(button, 'content') ? button.content : (button == true ? 'Оставить заявку' : button)}}
		</button>
	{% endif %}

	{% if image %}
		<img class="mainscreen-big__img" src="{{attribute(image, 'src') ? (image.src ?? '') : theme.link ~ '/static/images/mainscreens/' ~ image}}" alt="{{image.alt ?? ''}}">
	{% endif %}

	{% block content %}
		{{content}}
	{% endblock %}
</section>