<section class="student-progress">
    <div class="section-container">
        <h2 class="subtitle">
            Наши ученики рассказывают
            <span class="text text--violet">о своем прогрессе</span>
        </h2>

        <div class="student-progress__description">
            <p>Лучшие показатели нашей работы — это студенты, уверенно владеющие языком.</p>
            <p>Ученики рассказывают о своих результатах и процессе обучения в SAY YES! на английском:</p>
        </div>

        <div class="slider swiper">
            <div class="slider__arrows">
                <button class="slider__left-arrow"></button>
                <button class="slider__right-arrow"></button>
            </div>
            
            <div class="swiper-wrapper">
                {% for item in items %}
                    <div class="slider__slide swiper-slide">
                        <div class="feedback">
                            <div class="feedback__video">
                                {% include 'components/video.twig' with {
                                    youtube_id: item.youtube_id,
                                    image: {
                                        src: item.thumbnail.src,
                                        alt: item.title
                                    },
                                    modal: true
                                } %}

                                <div class="comment comment--sm comment--angle">
                                    <p class="commet__description">{{item.excerpt({ read_more: false })}}</p>
                                </div>
                            </div>

                            <div class="feedback__content">
                                <div class="about-person">
                                    <h3 class="about-person__title">{{item.title}}</h3>

                                    <p class="about-person__comment">{{item.excerpt({ read_more: false })}}</p>

                                    <div class="about-person__description">{{item.content}}</div>

                                    <h4 class="about-person__mini-title">Преподаватель:</h4>

                                    <a class="about-person__link" href="{{item.teacher.link}}">{{item.teacher}}</a>

                                    <h4 class="about-person__mini-title">Курс:</h4>

                                    <a class="about-person__link" href="{{item.course.link}}">{{item.course}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="slider__pagination"></div>
        </div>
    </div>
</section>