<div class="{{html_classes('card', class)}}">
    {% if image %}
        <img class="card__img" src="{{image.src}}" alt="{{image.alt}}">
    {% endif %}

    <div class="card__content">
        {% title or block('title') is defined %}
            <h3 class="card__name">
                {% block title %}
                    {{title}}
                {% endblock %}
            </h3>
        {% endif %}

        {% description or block('description') is defined %}
            <div class="card__description">
                {% block description %}
                    {{description}}
                {% endblock %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</div>