{% set id = name ~ '-' ~ random() %}

<div class="checkbox">
	<input id="{{id}}" class="checkbox__input" type="checkbox" name="{{name}}"{% if checked %} checked{% endif %}>
	
	<span class="checkbox__checkmark"></span>

	<label class="checkbox__label" for="{{id}}">
		Я согласен с
		<a class="link link--underlined" href="{{links.policy}}" target="_blank">политикой обработки персональных данных</a>
	</label>

	<p class="checkbox__description">
		Оставляя заявку вы принимаете условия
		<a class="link link--underlined" href="{{links.policy}}" target="_blank">Политикой обработки персональных данных</a>
	</p>
</div>