<div class="cooperation {{class}}">
	<div class="cooperation__preview">
		<div class="cooperation__info">
			<h3 class="cooperation__name">{{name}}</h3>
			<div class="cooperation__person-about">{{aboutPerson}}</div>
		</div>

		<img class="cooperation__img" src="{{theme.link}}/static/images/pictures/{{img}}" alt="{{name}}">
	</div>

	<div class="cooperation__content">
		{% include 'components/list.twig' with { list, classes: listClasses } %}

		<button class="btn btn--big btn--violet" data-modal-trigger="callback-modal">{{btnText}}</button>
	</div>
</div>