{% embed 'components/slider.twig' with {
	name: 'course-testimonials'
} %}
	{% block content %}
		{% for group in groups %}
			<div class="course-testimonial swiper-slide">
				<div class="course-testimonial__rating">
					<div class="course-testimonial__rating-value">{{group.score}}</div>
					<div class="course-testimonial__rating-info">
						<div class="stars"></div>
						<p class="text text--weight-800">наш рейтинг на
							<span class="text text--underline">{{group.name}}</span>
						</p>
					</div>
				</div>

				<div class="course-testimonial__cards">
					{% for testimonial in group.testimonials %}
						<div class="testimonial-card text-card card">
							<div class="card__content">
								<div class="testimonial-excerpt">
									{{testimonial.excerpt({ length: 50, read_more: '', strip: false })}}

									<button class="testimonial-modal-button link">Читать весь отзыв</button>
								</div>

								<div class="testimonial-content">
									{{testimonial.content}}
								</div>
							</div>

							<div class="card__footer">
								<div class="flex flex--column">
									<p class="text text--small text--weight-800">{{testimonial.name}}</p>
									<p class="text text--small text--muted">{{testimonial.date}}</p>
								</div>

								<div class="stars"></div>
							</div>
						</div>
					{% endfor %}
				</div>
				
				<a class="btn {{btnColor}}" href="{{item.link}}" target="_blank">Читать все отзывы на {{item.company}}</a>
			</div>
		{% endfor %}
	{% endblock %}
{% endembed %}