<div class="custom-radio-buttons">
	{% for item in items %}
		{% set id = name ~ '-' ~ random() %}

		<div class="custom-radio-buttons__btn">
			<input id="{{id}}" type="radio" name="{{name}}" value="{{item.value}}" {{item.checked}}>
            
			<label for="{{id}}">{{item.label}}</label>
		</div>
	{% endfor %}
</div>