<footer class="footer">
	<div class="section-container">
		<div class="footer__wrapper">
			<div class="footer__column">
				{% include 'components/logo.twig' with { fill: '#520360' } %}

				{% include 'components/phone-numbers.twig' %}

				<ul class="footer__call">
					<li class="footer__call-item">
						<a href="#" class="footer__link">Заказать звонок</a>
					</li>

					<li class="footer__call-item">
						<a href="#" class="footer__link">Напишите нам в WhatsApp</a>
					</li>
				</ul>

				<div class="footer__email">
					<div class="footer__title">E-MAIL:</div>
					<div class="footer__item">
						<a href="#" class="footer__link">{{meta.email}}</a>
					</div>
				</div>

				<div class="footer__address">
					<div class="footer__title">Адрес школы</div>
					<div class="footer__item">{{meta.address}}</div>
				</div>

				<div class="footer__policy">
					{% include 'components/footer-policy.twig' %}
					{% include 'components/footer-copyright.twig' %}
					{% include 'components/social.twig' %}
				</div>
			</div>

			<div class="footer__column">
				<div class="footer__copyright">
					{% include 'components/footer-copyright.twig' %}
				</div>
			</div>

			<div class="footer__column">
				{% include 'components/logo.twig' with { fill: '#520360' } %}

				<ul class="footer__about">
					<div class="footer__title">О SAY YES</div>
					{% for item in footerNavItems.about %}
						<li class="footer__item">
							<a href="{{item.url}}" class="footer__link">{{item.text}}</a>
						</li>
					{% endfor %}
				</ul>

				{% include 'components/footer-courses.twig' %}
				{% include 'components/social.twig' %}

				<div class="footer__with-love">
					{% include 'components/with-love.twig' %}
				</div>
			</div>

			<div class="footer__column">
				<div class="footer__courses-programms">
					<div class="footer__title">Курсы и программы школы</div>

					<div class="footer__courses">
						<ul class="footer__subcolumn">
							{% for item in footerNavItems.courses %}
								<li class="footer__item">
									<a href="{{item.url}}" class="footer__link">{{item.text}}</a>
								</li>
							{% endfor %}
						</ul>

						<ul class="footer__subcolumn">
							{% for item in footerNavItems.programms %}
								<li class="footer__item">
									<a href="{{item.url}}" class="footer__link">{{item.text}}</a>
								</li>
							{% endfor %}
							{% include 'components/footer-SAWC.twig' %}
						</ul>
					</div>

					{# {% for item in footer_menu.items %}
						<div class="col-md-4">
							<h5 class="nav-title">{{ item.title }}</h5>

							<ul class="nav flex-column">
								{% for child in item.children %}
									<li class="nav-item">
										<a class="nav-link" href="{{ child.link }}" {% if child.is_external %}target="_blank"{% endif %}>{{ child.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endfor %} #}
				</div>

				{% include 'components/footer-education-forms.twig' %}
				{% include 'components/license.twig' %}

				<div class="footer__designer">
					{% include 'components/designer.twig' %}
					{% include 'components/with-love.twig' %}
					{% include 'components/footer-copyright.twig' %}
					{% include 'components/social.twig' %}
				</div>
			</div>
		</div>

		<div class="footer__mobile-block">
			{% include 'components/license.twig' %}
			{% include 'components/footer-SAWC.twig' %}
			{% include 'components/footer-policy.twig' %}
			{% include 'components/with-love.twig' %}
			{% include 'components/footer-copyright.twig' %}
		</div>
	</div>
</footer>