<footer class="footer">
	<div class="section-container">
		<div class="footer__wrapper">
			<div class="footer__column">
				{% include 'components/logo.twig' with { color: 'purple' } %}

				{% include 'components/phone-numbers.twig' %}

				<ul class="footer__call">
					<li class="footer__call-item">
						<a class="footer__link" href="{{links.main_phone}}">Заказать звонок</a>
					</li>

					<li class="footer__call-item">
						<a class="footer__link" href="{{links.wa_phone}}" target="_blank">Напишите нам в WhatsApp</a>
					</li>
				</ul>

				<div class="footer__email">
					<div class="footer__title">E-MAIL:</div>
					<div class="footer__item">
						<a class="footer__link" href="{{links.email}}">{{site_data.contacts.email}}</a>
					</div>
				</div>

				<div class="footer__address">
					<div class="footer__title">Адрес школы</div>
					<div class="footer__item">{{site_data.contacts.address}}</div>
				</div>

				<div class="footer__policy">
					{% include 'components/footer-policy.twig' %}
					{% include 'components/footer-copyright.twig' %}
					{% include 'components/social.twig' %}
				</div>
			</div>

			<div class="footer__column">
				<div class="footer__copyright">
					{% include 'components/footer-copyright.twig' %}
				</div>
			</div>

			<div class="footer__column">
				{% include 'components/logo.twig' with { color: 'purple' } %}

				<ul class="footer__about">
					<div class="footer__title">О SAY YES</div>
					{% for item in data.footerNavItems.about %}
						<li class="footer__item">
							<a class="footer__link" href="{{item.url}}">{{item.text}}</a>
						</li>
					{% endfor %}
				</ul>

				<ul class="footer-courses">
					<div class="footer__title">Курсы</div>

					{% for item in data.footerNavItems.courses %}
						<li class="footer__item">
							<a class="footer__link" href="{{item.url}}">{{item.text}}</a>
						</li>
					{% endfor %}
				</ul>

				{% include 'components/social.twig' %}

				<div class="footer__with-love">
					{% include 'components/with-love.twig' %}
				</div>
			</div>

			<div class="footer__column">
				<div class="footer__courses-programms">
					<div class="footer__title">Курсы и программы школы</div>

					<div class="footer__courses">
						{# <ul class="footer__subcolumn">
							{% for item in data.footerNavItems.courses %}
								<li class="footer__item">
									<a class="footer__link" href="{{item.url}}">{{item.text}}</a>
								</li>
							{% endfor %}
						</ul> #}

						<ul class="footer__subcolumn">
							{% for item in data.footerNavItems.programms %}
								<li class="footer__item">
									<a class="footer__link" href="{{item.url}}">{{item.text}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>

					{% include 'components/footer-sout.twig' %}
				</div>

				<ul class="footer-education-forms">
					<div class="footer__title">Формы обучения</div>

					{% for item in data.footerNavItems.programms %}
						<li class="footer__item">
							<a class="footer__link" href="{{item.url}}">{{item.text}}</a>
						</li>
					{% endfor %}

					{% include 'components/footer-sout.twig' %}
				</ul>

				{% include 'components/license.twig' %}

				<div class="footer__designer">
					{% include 'components/designer.twig' %}
					{% include 'components/with-love.twig' %}
					{% include 'components/footer-copyright.twig' %}
					{% include 'components/social.twig' %}
				</div>
			</div>
		</div>

		<div class="footer__mobile-block">
			{% include 'components/license.twig' %}
			{% include 'components/footer-sout.twig' %}
			{% include 'components/footer-policy.twig' %}
			{% include 'components/with-love.twig' %}
			{% include 'components/footer-copyright.twig' %}
		</div>
	</div>
</footer>