<{{element ?: 'ul'}} class="{{html_classes('list', {
	'list--dl': type == 'dl',
	'list--check': type == 'check',
	'list--numbers': type == 'numbers',
	'list--steps': type == 'steps',
	'list--sm': size == 'sm'
}, align_marker ? 'list--marker-' ~ align_marker : [])}}">
	{% for item in items %}
		<li class="list-item">
			{{item.content}}

			{% if item.title %}
				<h4 class="list-item__title">{{item.title}}</h4>
			{% endif %}

			{% if item.description %}
				<p class="list-item__description">{{item.description}}</p>
			{% endif %}
		</li>
	{% endfor %}
</{{element ?: 'ul'}}>