<div class="card card-blog promo-card">
    <div class="card-image">
        <img class="img" src="{{ image }}" alt="{{ title }}">
    </div>

    <div class="card-body">
        <h4 class="card-title">{{ title }}</h4>
        
        <div class="card-description">{{ description }}</div>
    </div>

    <div class="card-footer">
        <span class="h4">{{ discount }}</span>
    </div>
</div>