<div class="{{html_classes(class ?? [], 'radio-group')}}">
	{% if label %}
		<label class="radio-group__label">{{label}}</label>
	{% endif %}

	<div class="radio-group__items">
		{% for item in items %}
			{% set id = name ~ '-' ~ random() %}

			<div class="radio">
				<input id="{{id}}" class="radio__input" type="radio" name="{{name}}" value="{{item.value}}"{{item.checked ? ' checked' : ''}}>
				
				<label class="radio__label" for="{{id}}">{{item.label}}</label>
			</div>
		{% endfor %}
	</div>
</div>