<form id="{{ id }}" class="request-form" @submit.prevent="submit" ref="form" v-cloak>
    <div v-if="!sent && !error">
        <div class="form-group">
            <input type="text" ref="name" placeholder="Имя*" class="form-control" :disabled="loading || sent" required>
        </div>

        <div class="form-group">
            <input type="text" ref="phone" placeholder="Телефон*" class="form-control" :disabled="loading || sent" required>
        </div>

        {% if email %}
            <div class="form-group">
                <input type="email" ref="email" placeholder="Электронная почта*" class="form-control" :disabled="loading || sent" required>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="!isFormValid || loading">
            <div class="uil-reload-css reload-small" v-if="loading">
                <div></div>
            </div>

            {% if button_text %}
                {{ button_text }}
            {% else %}
                Записаться на бесплатный урок
            {% endif %}
        </button>

        <small class="text-muted">
            <i class="fas fa-check"></i>
            Я согласен на обработку своих персональных данных
        </small>
    </div>

    <div v-if="sent" class="info" v-cloak>
        <img class="icon" src="{{ theme.link }}/static/images/icons/dusk/ok.png">

        <p class="lead">Ваша заявка принята. Мы скоро с вами свяжемся!</p>
    </div>
    
    <div v-if="error" class="info" v-cloak>
        <img class="icon" src="{{ theme.link }}/static/images/icons/dusk/error.png">

        <p class="lead">Не удалось отправить заявку =( Попробуйте еще раз.</p>
    </div>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    new Vue({
        el: '#{{ id }}',

        delimiters: ['${', '}'],
        
        data: {
            title: '{{ title }}',
            loading: false,
            sent: false,
            error: false
        },

        mounted: function() {
            $(this.$refs.phone).mask('+7 (999) 999-9999');
        },

        computed: {
            name: function() {
                return this.$refs.name ? this.$refs.name.value : '';
            },

            phone: function() {
                return this.$refs.phone ? this.$refs.phone.value : '';
            },

            email: function() {
                return this.$refs.email ? this.$refs.email.value : '';
            }
        },

        methods: {
            isFormValid: function() {
                return this.name && this.phone;
            },

            submit: function() {
                if (this.isFormValid()) {
                    var vue = this;

                    this.loading = true;
					
					grecaptcha.ready(function() {
						grecaptcha.execute('6LenTzMiAAAAABvM_nwArCX5rtvJQ3TUQS8EsN1q', {action: 'submit'}).then(function(token) {
							$.ajax({
								type: 'POST',
								url: '{{ theme.link }}/recaptcha.php',
								contentType: 'application/json; charset=utf-8',
								data: JSON.stringify({
									name: vue.name,
									phone: vue.phone,
									action: 'submit',
									token: token
								})
							}).done(function(response) {
								console.log(response);
								if (!response.success || response.score < 0.5) throw 'Bad request';
								
								crm.addStudyRequest({
									name: vue.name,
									phone: vue.phone,
									email: vue.email
								});
								
								fbq('track', 'Lead');

								{% if event %}
									ym(YANDEX_METRIKA_COUNTER, 'reachGoal', '{{ event }}');
									gtag('event', 'click', { event_category: '{{ event }}' });
								{% endif %}

								$.ajax({
									type: 'POST',
									url: '{{ theme.link }}/request.php',
									contentType: 'application/json; charset=utf-8',
									data: JSON.stringify({
										title: vue.title,
										name: vue.name,
										phone: vue.phone,
										email: vue.email,
										recaptcha: response
									})
								}).done(function(response) {
									console.log(response);
									vue.sent = true;
									//window.location = '{{ site.url }}/thank-you';
								}).fail(function(error) {
									console.log(error);
									vue.error = true;
								}).always(function() {
									vue.loading = false;
									vue.$refs.form.reset();
								});
							});
						});
					});
                }
            }
        }
    });
});
</script>