<div class="select">
	<input class="select__input" type="hidden" name="{{name}}" value="{{options[0].value}}" {% if required %} required{% endif %}>
	
	{% if label %}
		<label class="select__label">{{label}}</label>
	{% endif %}

	<button class="select__button" type="button">
		<span class="select__value">{{options[0].content}}</span>

		<span class="select__arrow">
			<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 6.28442L5.56875 1.71567L10.1375 6.28442" stroke="{{fill ?? '#262626'}}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</span>
	</button>

	<ul class="select__list">
		{% for option in options %}
			<li class="select__option" data-value="{{option.value}}">{{option.content}}</li>
		{% endfor %}
	</ul>
</div>