<div class="{{html_classes('tabs', {
    'tabs--centered': centered,
    'tabs--pills': pills,
    'tabs--underline': underline,
    'tabs--purple': color == 'purple',
    'tabs--violet': color == 'violet',
    'tabs--yellow': color == 'yellow'
})}}"{% if tabs[0].active and tabs[0].value %} data-value="{{tabs[0].value}}"{% endif %}>
    <div class="tabs__nav">
        {% for tab in tabs %}
            <button
                type="button"
                class="tab{{tab.active ? ' tab--active' : ''}}"
                {% if tab.value %}
                    value="{{tab.value}}"
                {% endif %}
                {% if tab.target %}
                    data-tab-target="{{tab.target}}"
                {% endif %}
            >{{tab.content}}</button>
        {% endfor %}
    </div>

    <div class="tabs__content">
        {% block content %}
        {% endblock %}
    </div>
</div>