{% macro teacher_card(teacher) %}
    <div class="card card--teacher">
        <img class="card__img" src="{{teacher.thumbnail.src('medium')}}" alt="{{teahcer.name}}" loading="lazy">

        <div class="card__content">
            <h3 class="card__name">{{teacher.name}}</h3>

            <div class="card__description">
                Опыт работы: {{teacher.experience}}
            </div>

            <button class="teacher-btn btn btn--transparent btn--transparent-black btn--md" data-id="{{teacher.id}}">Подробнее</button>
        </div>
    </div>
{% endmacro %}