<div class="{{html_classes('video', {
    'video--autoplay': autoplay,
    'video--hover': hover,
    'video--modal': modal,
    'video--vertical': vertical,
    'video--framed': framed
})}}"
    {% if autoplay %}
        data-video-autoplay="true"
    {% endif %}
    {% if hover %}
        data-video-hover="true"
    {% endif %}
    {% if hover %}
        data-video-modal="true"
    {% endif %}
>
    {% if image %}
        <img class="video__media" src="{{image.path ? (theme.link ~ '/static/images/' ~ image.path) : image.src}}" alt="{{image.alt}}">
    {% else %}
        <video
            src="{{filename ? theme.link ~ '/static/videos/' ~ filename : src}}"
            prealod="metadata"
            {% if poster %}
                poster="{{theme.link}}/{{poster}}"
            {% endif %}
            {% if autoplay or hover %}
                muted
            {% endif %}
            {% if loop or hover %}
                loop
            {% endif %}
        ></video>
    {% endif %}

    {% if not hover and not autoplay %}
        <button
            type="button"
            class="video__btn"
            {% if modal %}
                data-modal-trigger="video-modal"
                {% if youtube_id %}
                    data-embed-url="https://www.youtube.com/embed/{{youtube_id}}"
                {% else %}
                    data-video-url="{{filename ? theme.link ~ '/static/videos/' ~ filename : src}}"
                {% endif %}
                {% if vertical %}
                    data-vertical="true"
                {% endif %}
            {% endif %}
        ></button>
    {% endif %}
</div>

