{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
        title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail,
        button: true
    } %}

	{% embed 'components/section.twig' with {
        name: 'about-format',
        title: sections.about.title,
        horizontal: true,
        padded: true
    } %}
        {% block content %}
            <div class="text">
                <p>{{sections.about.content[0]}}</p>
                <p>{{sections.about.content[1]}}</p>
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'format-facts',
        title: sections.facts.title,
        padded: true
    } %}
        {% block content %}
            <div class="grid grid-2-1-2">
                {% for item in sections.facts.items %}
                    <div class="text-card text-card--{{item.image}}-bg card card--sm">
                        <h4 class="card__title">{{item.title}}</h4>
                        <p class="card__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="text text--center">
                <p class="asterisk-text">*Даты старта групп, точное расписание и информацию по действующим группам вы можете уточнить у менеджеров по телефонам:</p>

                <p>8 499 650-53-47 / 8 925 091-64-16</p>
            </div>
        {% endblock %}
    {% endembed %}

	{% include 'sections/trial-lesson-cta.twig' %}

    {% if sections.lessons %}
        {% embed 'components/section.twig' with {
            name: 'about-lessons',
            title: sections.lessons.title,
            horizontal: true
        } %}
            {% block content %}
                <div class="text">
                    <p>{{sections.lessons.content[0]}}</p>
                    <p>{{sections.lessons.content[1]}}</p>
                </div>
            {% endblock %}
        {% endembed %}

        {% include 'sections/video.twig' with {
            name: 'format-video',
            title: 'Посмотрите видео о методике школы',
            video: {
                youtube_id: format.video.youtube_id ?: '6ISA01NE2rY',
                image: format.video.image ?: {
                    path: 'video-sections/video-section-2.jpg'
                },
                caption: 'Всего 1.5 минуты',
                framed: true,
                modal: true
            }
        } %}
    {% endif %}

    {% if sections.online_class %}
        {% embed 'components/section.twig' with {
            name: 'online-class',
            title: 'Удобный онлайн-класс',
            description: 'Занятия проходят на надежной платформе, специально разработанной нашей школой. Общайтесь с преподавателем и выполняйте задания в одном окне браузера.',
            horizontal: true
        } %}
            {% block content %}
                {% include 'components/list.twig' with {
                    type: 'ul',
                    items: [
                        {
                            title: 'Все в одном месте',
                            description: 'Быстрый доступ ко всем материалам: учебникам, домашнему заданиюи словарю.'
                        },
                        {
                            title: 'Эффективное взаимодействие',
                            description: 'Во время урока преподаватель видит ваши ответы, исправляет и объясняет ошибки.'
                        },
                        {
                            title: 'Удобный личный кабинет',
                            description: 'Вы можете отслеживать в нем свой прогресс и следить за историей оплат.'
                        }
                    ]
                } %}
            {% endblock %}

            {% block media %}
                <img class="image" src="{{theme.link}}/static/images/pictures/oc.jpg" alt="Say Yes">
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% if sections.homework %}
        {% embed 'components/section.twig' with {
            name: 'online-class',
            title: 'Домашнее задание на удобной онлайн-платформе',
            horizontal: true,
            padded: true
        } %}
            {% block description %}
                <p>Закрепление материала происходитна надежной платформе, специально разработанной нашей школой.</p>
                <p>Платформа предоставляет быстрый доступ ко всем материалам: учебникам, домашнему заданию и словарю.</p>
            {% endblock %}

            {% block media %}
                <img class="image" src="{{theme.link}}/static/images/pictures/oc.jpg" alt="Say Yes">
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% embed 'components/section.twig' with {
        name: 'format-features',
        title: sections.features.title,
        padded: true
    } %}
        {% block content %}
            <div class="grid grid-2-sm grid-4-xl">
                {% for item in sections.features.items %}
                    <div class="text-card card card--yellow card--sm">
                        <h4 class="card__title">{{item.title}}</h4>
                        <p class="card__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'format-testimonials',
        title: sections.testimonials.title ?: 'Отзывы о формате <br>' ~ format.title,
        description: 'За ' ~ COMPANY_AGE ~ ' работы, обучили более 10 000 человек и получили более 800 отзывов',
        padded: true
    } %}
        {% block content %}
            {% include 'blocks/course-testimonials-slider.twig' with {
                groups: sections.testimonials.items
            } %}
        {% endblock %}
    {% endembed %}

	{% include 'sections/faq.twig' with {
        title: 'На часто задаваемые вопросы об обучении отвечает Шаталова Вера, сооснователь ' ~ COMPANY_NAME,
        items: sections.faq.items
    } %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}