<div class="contact-card card card--sm">
    <div class="card__media">
        <img class="image" src="{{manager.thumbnail.src}}" alt="{{manager.name}}">
    </div>

    <div class="card__body">
        <h3 class="card__title">{{manager.name}}</h3>

        <h4 class="card__subtitle">{{manager.position}}</h4>

        <div class="card__content">
            <p class="text">{{manager.responsibility}}</p>

            {% include 'components/list.twig' with {
                items: [
                    {
                        icon: 'phone',
                        content: manager.phone,
                        link: 'tel:' ~ format_phone_number(manager.phone)
                    },
                    {
                        icon: 'email',
                        content: manager.email,
                        link: 'mailto:' ~ manager.email
                    },
                    {
                        icon: 'telegram',
                        content: manager.telegram,
                        link: ' https://t.me/' ~ manager.telegram
                    }
                ]
            } %}
        </div>
    </div>
</div>