{% macro course_card(course, color, formats = true, large_header) %}
	<div class="{{html_classes('course-card', large_header ? 'course-card--large-header' : [], 'card', 'card--hover', color ? 'card--' ~ color : [])}}">
		{% if course.thumbnail %}
			<div class="card__media">
				<img src="{{course.thumbnail.src}}" alt="{{course.thumbnail.alt}}">

				{% if course.age %}
					<span class="course-card__age-tag">{{course.age}}</span>
				{% endif %}
			</div>
		{% endif %}

		<div class="card__header">
			<h3 class="card__title">{{course.title}}</h3>

			{% if course.description %}
				<p class="card__description">{{course.description}}</p>
			{% endif %}

			{% if large_header and course.age %}
				<span class="course-card__age-tag">{{course.age}}</span>
			{% endif %}
		</div>

		{% if formats %}
			<div class="card__body">
				<p class="text">Стоимость<br>обучения:</p>
				
				<ul class="list">
					{% for name, label in formats %}
						{% set format = course.formats[name] %}

						{% if format.price.value %}
							<li class="list-item">
								<span>{{label}}</span>

								<span class="price">
									{{format.price.prefix}}
									<strong>{{format.price.value}}</strong>{{format.price.postfix}}
								</span>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<a class="card__link" href="{{course.link}}"></a>
	</div>
{% endmacro %}