<footer class="footer">
	<div class="footer__container">
		{% include 'blocks/logo.twig' with { 
			class: 'footer__logo',
			color: 'purple'
		} %}

		<div class="footer__row footer__top-row">
			<div class="footer__column footer__contacts">
				<div class="footer__section footer__call">
					{% include 'blocks/phone-numbers.twig' %}

					{% include 'components/list.twig' with {
						items: [{
							content: 'Заказать звонок',
							link: '#',
							modal_open: 'callback-modal'
						},
						{
							content: 'Напишите нам в WhatsApp',
							link: links.wa_phone
						}],
						gap: 'xxs'
					} %}
				</div>

				<div class="footer__section footer__email">
					<div class="heading">E-mail:</div>

					<a class="link link--interactive" href="{{links.email}}">{{site_data.contacts.email}}</a>
				</div>

				<address class="footer__section footer__address">
					<div class="heading">Адрес школы:</div>
					<div class="text">{{site_data.contacts.address}}</div>
				</address>
			</div>

			<div class="footer__column footer__nav">
				<div class="footer__section footer__about">
					<div class="heading">О SAY YES</div>

					<ul class="list gap-xxs">
						{% for item in footer_nav.items[0].children %}
							<li class="list-item">
								<a class="link" href="{{item.link}}">{{item.title}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="footer__section footer__courses">
					<div class="heading">Курсы</div>

					<ul class="list gap-xxs">
						{% for item in footer_nav.items[1].children %}
							<li class="list-item">
								<a class="link" href="{{item.link}}">{{item.title}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="footer__section footer__formats">
					<div class="heading">Формы обучения</div>

					<ul class="list gap-xxs">
						{% for item in footer_nav.items[2].children %}
							<li class="list-item">
								<a class="link" href="{{item.link}}">{{item.title}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="footer__section footer__sout">
					<a href="{{theme.link}}/static/documents/sout.pdf" target="_blank">Результаты проведения СОУТ</a>
				</div>

				<div class="footer__section footer__license">
					{% include 'blocks/license.twig' %}
				</div>

				{# <div class="flex-column gap-m">
					<div class="footer__section footer__courses-formats">
						<div class="footer__title">Курсы и программы школы</div>

						<div class="flex flex-column-sm flex-row-md gap-m">
							
						</div>
					</div>
				</div> #}
			</div>
		</div>

		<div class="footer__row footer__bottom-row">
			<div class="footer__policy">
				<div class="list gap-xxs">
					<a href="{{links.policy}}">Политика конфиденциальности</a>
					<a href="{{links.offer}}">Договор-оферта</a>
				</div>
			</div>

			<div class="footer__copyright">
				<div class="footer__copyright list gap-xxs">
					<small>© 2013–{{'now'|date('Y')}} {{COMPANY_NAME}}</small>
					<small>Все права защищены</small>
				</div>
			</div>

			<div class="footer__social">
				{% include 'blocks/social.twig' %}
			</div>

			<div class="footer__note">
				<small class="with-love">Сделано с</small>
			</div>
		</div>
	</div>
</footer>