{% macro manager_card(manager) %}
<div class="manager-card card">
    <div class="card__media">
        <img class="image" src="{{manager.thumbnail.src}}" alt="{{manager.name}}">
    </div>

    <div class="card__body">
        <h3 class="card__title">{{manager.name}}</h3>
        <p class="card__subtitle">{{manager.position}}</p>
        <div class="card__description">{{manager.content}}</div>
    </div>
</div>
{% endmacro %}