<div class="progress-block block">
    <div class="progress-block__video">
        {% include 'components/video.twig' with {
            youtube_id: item.video.youtube_id,
            image: item.thumbnail ? {
                src: item.thumbnail.src,
                alt: item.title
            } : {
                src: theme.link ~ 'https://img.youtube.com/vi/' ~ item.video.youtube_id ~ '/maxresdefault.jpg',
                alt: ''
            },
            modal: true
        } %}

        <div class="speech-bubble speech-bubble--sm speech-bubble--angle">
            {{item.excerpt({ read_more: false })}}
        </div>
    </div>

    <div class="progress-block__content">
        <div class="card">
            <h3 class="card__title">{{item.title}}</h3>

            <div class="card__description">
                <p class="progress-excerpt">
                    {{item.excerpt({ read_more: false })}}
                </p>
                
                <div class="progress-content">
                    {{item.content}}
                </div>
            </div>

            <h4 class="card__subtitle">Преподаватель:</h4>
            <a class="link" href="{{item.teacher.url}}">{{item.teacher}}</a>

            <h4 class="card__subtitle">Курс:</h4>
            <a class="link" href="{{item.course.link}}">{{item.course}}</a>
        </div>
    </div>
</div>