{% set id = 'request-form-' ~ random() %}

<form id="{{id}}" class="request-form" ref="form" @submit="handleSubmit">
    {% if format %}
        <div class="request-form__format">
            {% include 'components/radio-group.twig' with {
                name: 'format' ~ (children ? '-children' : ''),
                label: 'Выберите желаемый формат обучения:',
                items: [
                    {
                        label: 'Офлайн',
                        value: 'offline',
                        checked: true
                    },
                    {
                        label: 'Онлайн',
                        value: 'online',
                    },
                    {
                        label: 'Не знаю',
                        value: 'unknown'
                    }
                ]
            } %}
        </div>
    {% endif %}

    <div class="request-form__contact">
        {% if children %}
            <div class="request-form__children">
                <input class="input" type="text" name="child-name" placeholder="Имя ребёнка" required>

                {% include 'components/select.twig' with {
                    name: 'age',
                    options: [
                        'От 6 до 11 лет',
                        'От 11 до 16 лет'
                    ]
                } %}
            </div>

            <input class="input" type="text" name="parent-name" placeholder="Имя родителя" required>
        {% else %}
            <input class="input" type="text" name="name" placeholder="Имя" required>
        {% endif %}

        <input class="input" type="tel" name="phone" placeholder="+7 (999) 999-99-99" required>
    </div>

    <div class="request-form__communication">
        {% include 'components/select.twig' with {
            name: 'communication',
            label: 'Выберите удобный способ связи:',
            options: [
                'Позвоните мне',
                'Напишите мне в WhatsApp',
                'Напишите мне в Telegram'
            ]
        } %}
    </div>

    <div class="request-form__submit">
        <button class="btn btn--full" type="submit">
            {% if button_text %}
                {{ button_text }}
            {% else %}
                Записаться на бесплатный урок
            {% endif %}
        </button>

        {% include 'components/checkbox.twig' with {
            name: 'consent'
        } %}
    </div>
</form>

{# <script>
document.addEventListener('DOMContentLoaded', function() {
    new Vue({
        el: '#{{id}}',

        delimiters: ['${', '}'],
        
        data: {
            title: '{{title}}',
            loading: false,
            sent: false,
            error: false
        },

        components: {
            Select
        },

        // mounted() {
            // $(this.$refs.phone).mask('+7 (999) 999-9999');
        // },

        computed: {
            name() {
                return this.$refs.name ? this.$refs.name.value : '';
            },

            phone() {
                return this.$refs.phone ? this.$refs.phone.value : '';
            },

            email() {
                return this.$refs.email ? this.$refs.email.value : '';
            }
        },

        methods: {
            isFormValid() {
                return this.name && this.phone;
            },

            submit() {
                if (this.isFormValid()) {
                    var vue = this;

                    this.loading = true;
					
					grecaptcha.ready(function() {
						grecaptcha.execute('6LenTzMiAAAAABvM_nwArCX5rtvJQ3TUQS8EsN1q', {action: 'submit'}).then(function(token) {
							$.ajax({
								type: 'POST',
								url: '{{theme.link}}/recaptcha.php',
								contentType: 'application/json; charset=utf-8',
								data: JSON.stringify({
									name: vue.name,
									phone: vue.phone,
									action: 'submit',
									token: token
								})
							}).done(function(response) {
								if (!response.success || response.score < 0.5) throw 'Bad request';
								
								crm.addStudyRequest({
									name: vue.name,
									phone: vue.phone,
									email: vue.email
								});
								
								fbq('track', 'Lead');

								{% if event %}
									ym(YANDEX_METRIKA_COUNTER, 'reachGoal', '{{ event }}');
									gtag('event', 'click', { event_category: '{{ event }}' });
								{% endif %}

								$.ajax({
									type: 'POST',
									url: '{{theme.link}}/request.php',
									contentType: 'application/json; charset=utf-8',
									data: JSON.stringify({
										title: vue.title,
										name: vue.name,
										phone: vue.phone,
										email: vue.email,
										recaptcha: response
									})
								}).done(function(response) {
									console.log(response);
									vue.sent = true;
									//window.location = '{{ site.url }}/thank-you';
								}).fail(function(error) {
									console.log(error);
									vue.error = true;
								}).always(function() {
									vue.loading = false;
									vue.$refs.form.reset();
								});
							});
						});
					});
                }
            }
        }
    });
});
</script> #}