{% macro teacher_card(teacher) %}
    <div class="teacher-card card">
        <img class="card__img" src="{{teacher.thumbnail.src('medium')}}" alt="{{teahcer.name}}" loading="lazy">

        <div class="card__body">
            <h3 class="card__title">{{teacher.name}}</h3>

            <div class="card__description">Опыт преподавания: {{teacher.experience}}</div>

            <button class="teacher-btn btn btn--outlined btn--black btn--sm btn--full" data-id="{{teacher.id}}">Подробнее</button>
        </div>
    </div>
{% endmacro %}