{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail
	} %}

	{% include 'sections/video.twig' with {
		name: 'about-video',
		title: 'Быть нашим студентом — это...',
		video: {
			youtube_id: 'f3cBgWC2ljM',
			image: {
				path: 'video-sections/video-section-1.jpg'
			},
			caption: 'Посмотрите короткое видео об обучении в ' ~ COMPANY_NAME,
			modal: true,
			framed: true
		}
	} %}

	{% embed 'components/section.twig' with {
		class: 'image-section',
		name: 'founders-announcement',
		title: 'Обращение основателей школы',
		horizontal: true
	} %}
		{% block description %}
			<div class="text">
				<p>
					Цель нашей Школы —
					<span class="color-primary">научить ГОВОРИТЬ</span>
					на английском и
					<span class="color-primary">влюбить</span>
					в сам процесс освоения языка. Ведь сам по себе путь может быть не менее прекрасен результата!
				</p>
				
				<p>Мы не только обладаем эффективными методиками обучения, но и стремимся создать атмосферу дружелюбия и уюта, в которую вам захочется возвращаться снова и снова.</p>

				<p>Приходите к нам за новыми знаниями и приятным времяпрепровождением =)</p>

				<p>Ждем вас в Школе {{COMPANY_NAME}} в Москве и онлайн!</p>
			</div>
		{% endblock %}

		{% block media %}
			<div class="caption handwritten">
				<p>Основатели школы английского языка {{COMPANY_NAME}}</p>
				<p>Ольга Письменная<br>и Вера Шаталова</p>
			</div>

			<img class="image" src="{{theme.link}}/static/images/pictures/founders-2.png" alt="Say Yes">
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'digits',
		title: COMPANY_NAME ~ ' в цифрах',
		horizontal: true
	} %}
		{% block content %}
			{% for item in [
				{
					title: COMPANY_AGE,
					description: 'лет успешной работы',
					color: 'yellow'
				},
				{
					title: '2000+',
					description: 'уроков каждый месяц',
					color: 'white'
				},
				{
					title: '85',
					description: 'сильных и харизматичных преподавателей',
					color: 'white'
				},
				{
					title: '80%',
					description: 'студентов по рекомендациям',
					color: 'yellow'
				},
				{
					title: '5.0',
					description: 'рейтинг на Яндекс Отзывы',
					color: 'yellow'
				}
			] %}
				<div class="card card--{{item.color}}">
					<h4 class="card__title">{{item.title}}</h4>
					<p class="card__description">{{item.description}}</p>
				</div>
			{% endfor %}
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'back-office',
		title: 'В бэк-офисе ' ~ COMPANY_NAME ~ ' работает 24 человека.',
	} %}
		{% block description %}
			<p>Главное, что объединяет нас — это любовь к людям и английскому языку.</p>
			<p>Каждый из нас работает для того, чтобы наши студенты были окружены заботой и самыми последними инновациями в обучении.</p>
		{% endblock %}

		{% block content %}
			{% from 'blocks/manager-card.twig' import manager_card %}

			<div class="grid grid-2-sm grid-3-md">
				<div class="card card--transparent">
					<h4 class="card__title">Команда мечты</h4>
					<p class="card__description">Создает для вас душевную атмосферу и обеспечивает комфорт в обучении.</p>
				</div>

				{% for manager in managers|slice(0, 7) %}
					{{manager_card(manager)}}
				{% endfor %}

				<div class="text-card card card--pink">
					<p class="text text--lg">Методисты школы имеют большой опыт работы по коммуникативной методике, организовывают образовательный процесс и следят за качеством обучения.</p>
				</div>

				<div class="text-card card card--pink">
					<p class="text text--lg">Менеджеры школы — это «ангелы-хранители» наших студентов, готовые прийти на помощь и дать поддержку в процессе обучения.</p>
				</div>

				{% for manager in managers|slice(7) %}
					{{manager_card(manager)}}
				{% endfor %}

				<div class="text-card card card--pink">
					<p class="text">Хотите стать членом нашей команды мечты?</p>
					<p class="text text--bold">Напишите нам на почту <a class="link">info@sayes.ru</a></p>
				</div>
			</div>

			<p class="caption handwritten">У команды {{COMPANY_NAME}} есть Superpowers<p>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'behind-the-scenes',
		title: 'Жизнь Школы за кулисами и не только',
	} %}
		{% block description %}
			<p>Для нас Школа — это не только интересная работа, но и совместное времяпрепровождение.</p>
			<p>Мы веселимся, вместе учимся новому и делаем жизнь нашего {{COMPANY_NAME}} коммьюнити насыщенней яркими моментами и от того счастливее.</p>
		{% endblock %}

		{% block content %}
			<div class="behind-the-scenes__gallery">
				{% for i in 1..6 %}
					<picture class="behind-the-scenes__media">
						<img class="image" src="{{theme.link}}/static/images/behind-the-scenes/bts-{{i}}.jpg" alt="Say Yes">
					</picture>
				{% endfor %}

				<div class="behind-the-scenes__media">
					{% include 'components/video.twig' with {
						filename: 'graduation.mp4',
						autoplay: true
					} %}
				</div>

				<div class="behind-the-scenes__media">
					{% include 'components/video.twig' with {
						filename: 'celebration.mp4',
						autoplay: true
					} %}
				</div>
			</div>
		{% endblock %}
	{% endembed %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}