{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail
	} %}

	{% include 'sections/video.twig' with {
		title: 'Быть нашим студентом — это...',
		video: {
			youtube_id: 'f3cBgWC2ljM',
			image: {
				path: 'video-sections/video-section-1.jpg'
			},
			modal: true
		}
	} %}

	{% embed 'sections/img-comment.twig' with {
		title: 'Обращение основателей школы',
		img: 'founders-1.png'
	} %}
		{% block content %}
			<p class="appeal__description">
				Цель нашей Школы —
				<span class="text text--violet">научить ГОВОРИТЬ</span>
				на английском и
				<span class="text text--violet">влюбить</span>
				в сам процесс освоения языка. Ведь сам по себе путь может быть не менее прекрасен результата!
			</p>
			<p class="appeal__description">Мы не только обладаем эффективными методиками обучения, но и стремимся создать атмосферу дружелюбия и уюта, в которую вам захочется возвращаться снова и снова.</p>
			<p class="appeal__description">Приходите к нам за новыми знаниями и приятным времяпрепровождением =)</p>
			<p class="appeal__description">Ждем вас в Школе SAY YES! в Москве и онлайн!</p>
		{% endblock %}
	{% endembed %}

	<section class="digits">
		<h2 class="subtitle">SAY YES! в цифрах</h2>

		<ul class="digits__list">
			{% for item in [
				{
					title: '10',
					description: 'лет успешной работы',
					bg: 'default'
				},
				{
					title: '2000+',
					description: 'уроков каждый месяц',
					bg: 'white'
				},
				{
					title: '85',
					description: 'сильных и харизматичных преподавателей',
					bg: 'white'
				},
				{
					title: '80%',
					description: 'студентов по рекомендациям',
					bg: 'default'
				},
				{
					title: '5.0',
					description: 'рейтинг на Яндекс Отзывы',
					bg: 'default'
				}
			] %}
				<li class="digits__item digits__item--{{item.bg}}">
					<h4 class="digits__title">{{item.title}}</h4>
					<p class="digits__description">{{item.description}}</p>
				</li>
			{% endfor %}
		</ul>
	</section>

	{% embed 'components/section.twig' with {
		class: 'back-office',
		title: 'В бэк-офисе SAY YES! работает 24 человека.',
	} %}
		{% block description %}
			<p>Главное, что объединяет нас — это любовь к людям и английскому языку.</p>
			<p>Каждый из нас работает для того, чтобы наши студенты были окружены заботой и самыми последними инновациями в обучении.</p>
		{% endblock %}

		{% block content %}
			<div class="cards-grid grid">
				<div class="card card--transparent">
					<h4 class="card__title">Команда мечты</h4>
					<h5 class="card__subtitle">Создает для вас душевную атмосферу и обеспечивает комфорт в обучении.</h5>
				</div>

				{% for manager in managers|slice(0, 7) %}
					<div class="manager-card card">
						<img class="card__img" src="{{manager.thumbnail.src}}" alt="{{manager.name}}">

						<div class="card__body">
							<h3 class="card__title">{{manager.name}}</h3>
							<p class="card__subtitle">{{manager.position}}</p>
							<div class="card__description">{{manager.content}}</div>
						</div>
					</div>
				{% endfor %}

				<div class="text-card card card--pink">
					<p class="text text--larger">Методисты школы имеют большой опыт работы по коммуникативной методике, организовывают образовательный процесс и следят за качеством обучения.</p>
				</div>

				<div class="text-card card card--pink">
					<p class="text text--larger">Менеджеры школы — это «ангелы-хранители» наших студентов, готовые прийти на помощь и дать поддержку в процессе обучения.</p>
				</div>

				{% for manager in managers|slice(7) %}
					<div class="manager-card card">
						<img class="card__img" src="{{manager.thumbnail.src}}" alt="{{manager.name}}">

						<div class="card__content">
							<h3 class="card__title">{{manager.name}}</h3>
							<p class="card__subtitle">{{manager.position}}</p>
							<div class="card__description">{{manager.content}}</div>
						</div>
					</div>
				{% endfor %}

				<div class="text-card card card--pink">
					<p class="text text--block text--larger">Хотите стать членом нашей команды мечты?</p>
					<p class="text text--larger text--weight-800">Напишите нам на почту info@sayes.ru</p>
				</div>
			</div>
		{% endblock %}
	{% endembed %}

	<section class="behind-the-scenes">
		<div class="section-container">
			<h2 class="subtitle">Жизнь Школы за кулисами и не только</h2>

			<div class="behind-the-scenes__description">
				<p>Для нас Школа — это не только интересная работа, но и совместное времяпрепровождение.</p>

				<p>Мы веселимся, вместе учимся новому и делаем жизнь нашего SAY YES! коммьюнити насыщенней яркими моментами и от того счастливее.</p>
			</div>

			<ul class="behind-the-scenes__gallery">
				{% for i in 1..7 %}
					<li class="behind-the-scenes__item">
						<img class="behind-the-scenes__img" src="{{theme.link}}/static/images/behind-the-scenes/bts-{{i}}.jpg" alt="Say Yes">
					</li>
				{% endfor %}
				
				<li class="behind-the-scenes__item">
					{% for i in [8, 3] %}
						<img class="behind-the-scenes__img" src="{{theme.link}}/static/images/behind-the-scenes/bts-{{i}}.jpg" alt="Say Yes">
					{% endfor %}
				</li>
			</ul>
		</div>
	</section>

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}