{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
        title: page.heading ?? page.title,
        description: page.content
    } %}

	{% embed 'components/section.twig' with {
		name: 'contacts'
	} %}
		{% block content %}
			<div class="contacts__info">
				<div class="contacts__address">
					<h4 class="contacts__title">Адрес школы:</h4>

					<div class="text">
						<p>г. Москва, ул. Кожевническая, дом 14, корпус 1,  строение 2</p>
						<p>5 минут пешком от метро  Павелецкая радиальная</p>
					</div>
				</div>

				<div class="contacts__phone">
					<h4 class="contacts__title">Телефон:</h4>
					<div class="contacts__links">
						{% include 'blocks/phone-numbers.twig' %}
						{% include 'blocks/social.twig' %}
					</div>
				</div>

				<div class="contacts__email">
					<div class="contacts__email-content">
						<h4 class="contacts__title">E-mail:</h4>
						<a class="link" href="{{links.email}}">{{site_data.contacts.email}}</a>
					</div>

					{% include 'blocks/social.twig' %}
				</div>

				<div class="contacts__time">
					<h4 class="contacts__title">График работы</h4>

					{% include 'components/list.twig' with {
						items: [
							{
								title: 'Пн–Пт:',
								description: 'с 12:00 до 21:00'
							},
							{
								title: 'Сб–Вс:',
								description: 'с 11:00 до 16:00'
							}
						]
					} %}
				</div>

				<a class="btn btn--yellow" href="{{theme.link}}/static/documents/directions-paveletskaya.pdf" target="_blank">Узнайте как нас найти на Павелецкой</a>
			</div>

			<div class="contacts__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.714305388802!2d37.644190977131984!3d55.72871699384578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b20367e8b77%3A0x3093afcc6d7cf41!2z0JrQvtC20LXQstC90LjRh9C10YHQutCw0Y8g0YPQuy4sIDE0INC60L7RgNC_0YPRgSAxINGB0YLRgNC-0LXQvdC40LUgMiwg0JzQvtGB0LrQstCwLCAxMTUxMTQ!5e0!3m2!1sru!2sru!4v1693186433202!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'contacts-us',
		title: 'Свяжитесь с нами'
	} %}
		{% block content %}
			<div class="cards-grid grid grid--3">
				{% for manager in managers %}
					<div class="contact-card card">
						<img class="card__img" src="{{manager.thumbnail.src}}" alt="{{manager.name}}">

						<div class="card__content">
							<h3 class="card__title">{{manager.name}}</h3>

							<h4 class="card__subttitle">{{manager.position}}</h4>

							<div class="card__description">
								<p class="text">{{manager.responsibility}}</p>

								{% include 'components/list.twig' with {
									items: [
										{
											icon: 'phone',
											content: manager.phone,
											link: 'tel:' ~ format_phone_number(manager.phone)
										},
										{
											icon: 'email',
											content: manager.email,
											link: 'mailto:' ~ manager.email
										},
										{
											icon: 'telegram',
											content: manager.telegram,
											link: ' https://t.me/' ~ manager.telegram
										}
									],
									gap: 'xs'
								} %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}