{% extends 'layouts/base.twig' %}

{% block content %}
	{% embed 'sections/main.twig' with {
        title: page.heading ?? page.title,
        description: page.content,
        button: {
            content: 'Оставить заявку на звонок',
            color: 'black',
            modal_trigger: false,
            scroll_to: 'corporate-steps'
        },
        image: page.thumbnail
    } %}
        {% block content %}
            <button class="price-list-button btn btn--purple" data-modal-trigger="callback-modal">Получить стоимость обучения</button>
        {% endblock %}
    {% endembed %}

	{# {% include 'sections/video.twig' with {
        name: 'corporate-benefits-video',
        title: 'Управляющий директор SAY YES! Роман Сорочук коротко расскажет о преимуществах нашего обучения и процессе работы с компаниями.',
        video: {
			youtube_id: 'nz94F0sSF90',
			image: {
				path: 'video-sections/video-section-3.jpg'
			},
			modal: true
		}
    } %} #}

    {% include 'sections/video.twig' with {
        name: 'corporate-approach-video',
        title: 'Посмотрите короткое видео о нашем подходе к корпоративному обучению.',
        video: {
			youtube_id: 'nz94F0sSF90',
			image: {
				path: 'video-sections/video-section-4.jpg'
			},
			modal: true
		}
    } %}

    {% embed 'components/section.twig' with {
        name: 'corporate-directions'
    } %}
        {% block title %}
            Более {{COMPANY_AGE}} лет мы
            <span class="color-primary">обучаем</span>
            сотрудников компаний
            <span class="color-primary">по направлениям:</span>
        {% endblock %}

        {% block content %}
            <div class="cards">
                {% for item in [
                    {
                        title: 'Общий курс',
                        description: 'Обучение разговорному английскому языку',
                        image: 'cap-2'
                    },
                    {
                        title: 'Бизнес курс',
                        description: 'Обучение деловому английскому для работы',
                        image: 'briefcase'
                    },
                    {
                        title: 'Курсы для профессионалов',
                        description: 'Программы для конкретных профессий и должностей',
                        image: 'person'
                    },
                    {
                        title: 'Погружение в среду',
                        description: 'Разговорные клубы с носителями английского языка',
                        image: 'comments'
                    }
                ] %}
                    <div class="text-card text-card--{{item.image}}-bg card card--yellow">
                        <h4 class="card__title">{{item.title}}</h4>
                        <p class="card__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-formats'
    } %}
        {% block title %}
            Наши <span class="color-primary">форматы обучения</span> позволяют подстроиться под месторасположение и график компаний
        {% endblock %}

        {% block content %}
            <div class="cards">
                {% from 'blocks/format-card.twig' import format_card %}

                {% for item in [
                    {
                        title: 'В школе в Москве ',
                        description: 'Наш офис находится в 7 минутах пешком от метро Павелецкая.',
                        thumbnail: {
                            src: theme.link ~ '/static/images/corporate-formats/school.jpg'
                        }
                    },
                    {
                        title: 'В офисе вашей компании',
                        description: 'Преподаватель приезжает к вам офис в удобное вам время',
                        thumbnail: {
                            src: theme.link ~ '/static/images/corporate-formats/office.jpg'
                        }
                    },
                    {
                        title: 'Обучение онлайн',
                        description: 'Мы обучаем онлайн в группах в Zoom или индивидуально на собственной платформе',
                        thumbnail: {
                            src: theme.link ~ '/static/images/corporate-formats/online.jpg'
                        }
                    }
                ] %}
                    {{format_card(item)}}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-benefits',
        title: 'Сотрудничать с SAY YES! — выгодно'
    } %}
        {% block content %}
            <picture class="picture">
                <img class="picture__image" src="{{theme.link}}/static/images/pictures/roman.png" alt="Роман Сорочук">

                <div class="picture__caption">
                    <h3 class="heading heading--xs">Роман Сорочук</h3>
                    <p class="text text--sm">Руководитель корпоративного направления</p>
                </div>
            </picture>

            <div class="card">
                {% include 'components/list.twig' with {
                    type: 'check',
                    items: [
                        {
                            title: 'Простое начало работы',
                            description: 'До начала сотрудничества мы бесплатно организуем для ваших сотрудников тестирование уровня и пробные уроки.'
                        },
                        {
                            title: 'Гибкая стоимость и условия',
                            description: 'Набор учебных программ и форматов обучения позволяют подстроиться почти под любой бюджет и требования.'
                        },
                        {
                            title: 'Лицензия на образование',
                            description: 'Ваша компания сможет экономить на налогах, сократив налог на прибыль и приняв к вычету НДС.'
                        },
                        {
                            title: 'Разные варианты оплаты',
                            description: 'Оплачивать обучение может как компания, так и сами сотрудники на выгодных условиях. Возможны и гибридные варианты.'
                        }
                    ]
                } %}

                <button class="btn btn--filled btn--md btn--black" data-modal-trigger="callback-modal">Получить точную стоимость обучения</button>
            </div>
        {% endblock %}
    {% endembed %}

	{% include 'sections/awards.twig' %}

    {% embed 'components/section.twig' with {
        name: 'corporate-teachers'
    } %}
        {% block title %}
            <span class="color-primary">Наши</span>
            харизматичные и профессиональные
            <span class="color-primary">преподаватели</span>
        {% endblock %}

        {% block description %}
            <p>Корпоративные курсы английского в школе “SAY YES!” проводят как носители языка, так и русскоязычные преподаватели с многолетним опытом преподавания, в том числе деловому английскому.</p>

            <p>Прежде, чем попасть в нашу команду, преподаватели проходят многоэтапный отбор и обучение методике школы. Это профессионалы, не лишенные чувства юмора и энергичности, с которыми учить английский вашим сотрудникам будет в удовольствие!</p>
        {% endblock %}

        {% block content %}
            {% from 'blocks/teacher-card.twig' import teacher_card %}

            <div class="cards-grid grid grid--3">
                {% for teacher in teachers %}
                    {{teacher_card(teacher)}}
                {% endfor %}
            </div>

            <a class="btn btn--purple" href="/prepodavateli">Все преподаватели</a>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-extra-benefits'
    } %}
        {% block title %}
            Обучение в SAY YES! — это
            <span class="color-primary">больше, чем занятия</span>
            с преподавателем. Сотрудничая с SAY YES! вы также получаете:
        {% endblock %}

        {% block content %}
            <div class="cards grid grid--2-1-2">
                {% for item in [
                    {
                        image: 'contacts',
                        content: 'Возможность посещения разговорного онлайн клуба'
                    },
                    {
                        image: 'note-2',
                        content: 'Бесплатные материалы в электронном виде'
                    },
                    {
                        image: 'notes',
                        content: 'Отчеты по успеваемости сотрудников'
                    },
                    {
                        image: 'webcam',
                        content: 'Поддержка персонального менеджера-куратора'
                    },
                    {
                        image: 'video',
                        content: 'Собственная онлайн-платформа с дополнительными материалами и тестами'
                    }
                ] %}
                    <div class="text-card text-card--{{item.image}}-bg card card--yellow">
                        {{item.content}}
                    </div>
                {% endfor %}
            </div>

            <button class="btn btn--purple" data-scroll-to="corporate-steps">Получить стоимость обучения</button>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-clients',
        title: 'Нас уже выбрали:'
    } %}
        {% block content %}
            {% embed 'components/slider.twig' with {
                name: 'corporate-clients'
            } %}
                {% block content %}
                    {% for item in [
                        {
                            name: 'Сбербанк',
                            image: 'sberbank.svg'
                        },
                        {
                            name: 'Get Taxi',
                            image: 'get-taxi.png'
                        },
                        {
                            name: 'Логрус',
                            image: 'logrus.svg'
                        },
                        {
                            name: 'Аури групп',
                            image: 'auri-group.png'
                        },
                        {
                            name: 'Fircroft',
                            image: 'fircroft.svg'
                        },
                        {
                            name: 'Московский Индустриальный Банк',
                            image: 'mib.png'
                        },
                        {
                            name: 'Промсвязьбанк',
                            image: 'psb.png'
                        },
                        {
                            name: 'Роснефть',
                            image: 'rosneft.png'
                        },
                        {
                            name: 'РСПП',
                            image: 'rspp.png'
                        },
                        {
                            name: 'Atrium',
                            image: 'atrium.svg'
                        },
                        {
                            name: 'МегаФон ',
                            image: 'megafon.png'
                        },
                        {
                            name: 'МТС',
                            image: 'mts.svg'
                        },
                        {
                            name: 'Ernst&Young',
                            image: 'ey.svg'
                        },
                        {
                            name: '2GIS ',
                            image: '2gis.png'
                        },
                        {
                            name: 'ГазФонд',
                            image: 'gazfond.png'
                        },
                        {
                            name: 'Apex',
                            image: 'apex.svg'
                        },
                        {
                            name: 'Бизнес-школа РСПП',
                            image: 'rspp-bs.svg'
                        },
                        {
                            name: 'Flipper',
                            image: 'flipper.svg'
                        },
                        {
                            name: 'iSpring',
                            image: 'ispring.svg'
                        },
                        {
                            name: 'Джум',
                            image: 'joom.svg'
                        },
                        {
                            name: 'Reliz',
                            image: 'reliz.svg'
                        }
                    ] %}
                        <div class="swiper-slide">
                            <div class="card">
                                <img class="image" src="{{theme.link}}/static/images/corporate-clients/{{item.image}}" alt="{{item.name}}">
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-reviews'
    } %}
        {% block title %}
            Благодарственные
            <span class="color-primary">письма и отзывы</span>
            руководителей компаний
        {% endblock %}

        {% block content %}
            {% embed 'components/slider.twig' with {
                name: 'corporate-reviews'
            } %}
                {% block content %}
                        {% for item in [
                            {
                                name: 'Design Heroes',
                                image: 'design-heroes'
                            },
                            {
                                name: 'Exalter',
                                image: 'exalter'
                            },
                            {
                                name: 'Джум',
                                image: 'joom'
                            },
                            {
                                name: 'Richmedia',
                                image: 'richmedia'
                            },
                            {
                                name: 'МТС',
                                image: 'mts'
                            },
                            {
                                name: '2GIS',
                                image: '2gis'
                            },
                            {
                                name: 'Газпромбанк',
                                image: 'gazprombank'
                            },
                            {
                                name: 'Love Radio',
                                image: 'radio-love'
                            }
                        ] %}
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="image" src="{{theme.link}}/static/images/corporate-testimonials/{{item.image}}.png" alt="{{item.name}}" data-modal-trigger="image-modal">

                                    <h4 class="heading heading--xs">{{item.name}}</h4>
                                </div>
                            </div>
                        {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        id: 'corporate-steps',
        name: 'corporate-steps',
        title: 'Чтобы начать обучение вам осталось:'
    } %}
        {% block content %}
            <picture class="picture">
                <img class="picture__image" src="{{theme.link}}/static/images/pictures/anastasia.png" alt="Анастасия Жителева">

                <div class="picture__caption">
                    <h3 class="heading heading--xs">Анастасия Жителева</h3>
                    <p class="text text--sm">Менеджер по работе с клиентами офлайн</p>
                </div>
            </picture>

            <div class="card">
                {% include 'components/list.twig' with {
                    type: 'steps',
                    items: [
                        {
                            content: 'Заявка на сайте или звонок в школу'
                        },
                        {
                            content: 'Консультация по телефону исходя из вашего запроса'
                        },
                        {
                            content: 'Разработка коммерческого предложения'
                        },
                        {
                            content: 'Проведение тестирования сотрудников'
                        },
                        {
                            content: 'Пробные уроки по уровням'
                        },
                        {
                            content: 'Подписание договора и оплата обучения'
                        },
                        {
                            content: 'Начало обучения'
                        }
                    ]
                } %}

                <button class="btn btn--md btn--filled btn--purple" data-modal-trigger="callback-modal">Заполнить заявку на обучение</button>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block modal %}
    {% embed 'components/modal.twig' with {
        id: 'teacher-modal'
    } %}
        {% block content %}
            {% include 'blocks/teacher-block.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
    {% include 'includes/teacher-modal-script.twig' with {
        teachers
    } %}
{% endblock %}