{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
        title: page.heading ?? page.title,
        description: page.content,
        button: {
            content: 'Оставить заявку на звонок',
            color: 'yellow'
        },
        image: page.thumbnail
    } %}

	{% include 'sections/video.twig' with {
        name: 'corporate-benefits-video',
        title: 'Управляющий директор SAY YES! Роман Сорочук коротко расскажет о преимуществах нашего обучения и процессе работы с компаниями.',
        video: {
			youtube_id: 'Vsfz_1QzwDA',
			image: {
				path: 'video-sections/video-section-3.jpg'
			},
			modal: true
		}
    } %}

    {% embed 'components/section.twig' with {
        name: 'corporate-directions'
    } %}
        {% block title %}
            Более 10 лет мы
            <span class="color-primary">обучаем</span>
            сотрудников компаний
            <span class="color-primary">по направлениям:</span>
        {% endblock %}

        {% block content %}
            <div class="cards">
                {% for item in [
                    {
                        title: 'Общий курс',
                        description: 'Обучение разговорному английскому языку',
                        image: 'cap-2'
                    },
                    {
                        title: 'Бизнес курс',
                        description: 'Обучение деловому английскому для работы',
                        image: 'briefcase'
                    },
                    {
                        title: 'Курсы для профессионалов',
                        description: 'Программы для конкретных профессий и должностей',
                        image: 'person'
                    },
                    {
                        title: 'Погружение в среду',
                        description: 'Разговорные клубы с носителями английского языка',
                        image: 'comments'
                    }
                ] %}
                    <div class="text-card text-card--{{item.image}}-bg card card--yellow">
                        <h4 class="card__title">{{item.title}}</h4>
                        <p class="card__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-formats'
    } %}
        {% block title %}
            Наши <span class="color-primary">форматы обучения</span> позволяют подстроиться под месторасположение и график компаний
        {% endblock %}

        {% block content %}
            <div class="cards">
                {% for item in [
                    {
                        image: 'format-1',
                        title: 'В школе в Москве ',
                        description: 'Наш офис находится в 7 минутах пешком от метро Павелецкая.'
                    },
                    {
                        image: 'format-2',
                        title: 'В офисе вашей компании',
                        description: 'Преподаватель приезжает к вам офис в удобное вам время'
                    },
                    {
                        image: 'format-3',
                        title: 'Обучение онлайн',
                        description: 'Мы обучаем онлайн в группах в Zoom или индивидуально на собственной платформе'
                    }
                ] %}
                    {% include 'components/card.twig' with {
                        title: item.title,
                        description: item.description,
                        image: {
                            src: theme.link ~ '/static/images/courses/' ~ item.image ~ '.jpg',
                            alt: item.title
                        }
                    } only %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-benefits',
        title: 'Сотрудничать с SAY YES! — выгодно'
    } %}
        {% block content %}
            <div class="flex">
                <picture class="picture">
                    <img class="picture__image" src="{{theme.link}}/static/images/pictures/roman.png" alt="Роман Сорочук">
                    <div class="picture__caption">
                        <h3 class="heading">Роман Сорочук</h3>
                        <p class="text">Руководитель корпоративного направления</p>
                    </div>
                </picture>

                <div class="card">
                    {% include 'components/list.twig' with {
                        type: 'check',
                        items: [
                            {
                                title: 'Простое начало работы',
                                description: 'До начала сотрудничества мы бесплатно организуем для ваших сотрудников тестирование уровня и пробные уроки.'
                            },
                            {
                                title: 'Гибкая стоимость и условия',
                                description: 'Набор учебных программ и форматов обучения позволяют подстроиться почти под любой бюджет и требования.'
                            },
                            {
                                title: 'Лицензия на образование',
                                description: 'Ваша компания сможет экономить на налогах, сократив налог на прибыль и приняв к вычету НДС.'
                            },
                            {
                                title: 'Разные варианты оплаты',
                                description: 'Оплачивать обучение может как компания, так и сами сотрудники на выгодных условиях. Возможны и гибридные варианты.'
                            }
                        ]
                    } %}

                    <button class="btn btn--lg btn--purple" data-modal-trigger="callback-modal">Рассчитать точную стоимость обучения</button>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

	{% include 'sections/awards.twig' %}

    {% embed 'components/section.twig' with {
        name: 'corporate-teachers'
    } %}
        {% block title %}
            <span class="color-primary">Наши</span>
            харизматичные и профессиональные
            <span class="color-primary">преподаватели</span>
        {% endblock %}

        {% block description %}
            <p>Корпоративные курсы английского в школе “SAY YES!” проводят как носители языка, так и русскоязычные преподаватели с многолетним опытом преподавания, в том числе деловому английскому.</p>

            <p>Прежде, чем попасть в нашу команду, преподаватели проходят многоэтапный отбор и обучение методике школы. Это профессионалы, не лишенные чувства юмора и энергичности, с которыми учить английский вашим сотрудникам будет в удовольствие!</p>
        {% endblock %}

        {% block content %}
            <div class="cards grid grid--3">
                {% for teacher in teachers %}
                    {% embed 'components/card.twig' with {
                        class: 'card--' ~ teacher.type,
                        image: {
                            src: teacher.thumbnail.src,
                            alt: teacher.title
                        },
                        title: teacher.title,
                        buttonId: person.teacherId
                    } %}
                        {% block description %}
                            {% for merits in person.merits %}
                                <li>
                                    {{merits.merit}}:
                                    {{merits.description}}
                                </li>
                            {% endfor %}
                        {% endblock %}

                        {% block content %}
                            <button class="teacher-btn btn btn--transparent btn--transparent-black btn--md" data-id="{{person.teacherId}}">Подробнее</button>
                        {% endblock %}
                    {% endembed %}
                {% endfor %}
            </div>

            <a class="btn btn--purple" href="#">Все преподаватели</a>
        {% endblock %}
    {% endembed %}

	{% include 'sections/video.twig' with {
        name: 'corporate-approach-video',
        title: 'Посмотрите короткое видео о нашем подходе к корпоративному обучению.',
        video: {
			youtube_id: 'Vsfz_1QzwDA',
			image: {
				path: 'video-sections/video-section-4.jpg'
			},
			modal: true
		}
    } %}

    {% embed 'components/section.twig' with {
        name: 'corporate-extra-benefits'
    } %}
        {% block title %}
            Обучение в SAY YES! — это
            <span class="color-primary">больше, чем занятия</span>
            с преподавателем. Сотрудничая с SAY YES! вы также получаете:
        {% endblock %}

        {% block content %}
            <div class="cards grid grid--2-1-2">
                {% for item in [
                    {
                        image: 'contacts',
                        content: 'Возможность посещения разговорного онлайн клуба'
                    },
                    {
                        image: 'note-2',
                        content: 'Бесплатные материалы в электронном виде'
                    },
                    {
                        image: 'notes',
                        content: 'Отчеты по успеваемости сотрудников'
                    },
                    {
                        image: 'webcam',
                        content: 'Поддержка персонального менеджера-куратора'
                    },
                    {
                        image: 'video',
                        content: 'Собственная онлайн-платформа с дополнительными материалами и тестами'
                    }
                ] %}
                    <div class="text-card text-card--{{item.image}}-bg card card--yellow">
                        {{item.content}}
                    </div>
                {% endfor %}
            </div>

            <button class="btn btn--purple">Рассчитать стоимость обучения</button>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-organizations',
        title: 'Нас уже выбрали:'
    } %}
        {% block content %}
            {% embed 'components/slider.twig' with { name: 'organizations' } %}
                {% block content %}
                    <ul class="grid grid--6 grid--sm-3">
                        {% for item in [
                            {
                                name: 'Сбербанк',
                                img: 'organization-1'
                            },
                            {
                                name: 'Get Taxi',
                                img: 'organization-2'
                            },
                            {
                                name: 'Логрус ',
                                img: 'organization-3'
                            },
                            {
                                name: 'Аури групп',
                                img: 'organization-4'
                            },
                            {
                                name: 'FIRCROFT ',
                                img: 'organization-5'
                            },
                            {
                                name: 'Московский Индустриальный Банк ',
                                img: 'organization-6'
                            },
                            {
                                name: 'Промсвязьбанк',
                                img: 'organization-7'
                            },
                            {
                                name: 'Роснефть',
                                img: 'organization-8'
                            },
                            {
                                name: 'РСПП',
                                img: 'organization-9'
                            },
                            {
                                name: 'ATRIUM',
                                img: 'organization-10'
                            },
                            {
                                name: 'МегаФон ',
                                img: 'organization-11'
                            },
                            {
                                name: 'МТС',
                                img: 'organization-12'
                            },
                            {
                                name: 'Ernst&Young',
                                img: 'organization-13'
                            },
                            {
                                name: '2GIS ',
                                img: 'organization-14'
                            },
                            {
                                name: 'ГазФонд',
                                img: 'organization-15'
                            },
                            {
                                name: 'Центр терапии боли ',
                                img: 'organization-16'
                            },
                            {
                                name: 'Apex',
                                img: 'organization-17'
                            },
                            {
                                name: 'Бизнес-школа РСПП',
                                img: 'organization-18'
                            }
                        ] %}
                            <div class="card">
                                <img src="{{theme.link}}/static/images/organizations/{{item.img}}.png" alt="{{item.name}}">
                            </div>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-reviews'
    } %}
        {% block title %}
            Благодарственные
            <span class="color-primary">письма и отзывы</span>
            руководителей компаний
        {% endblock %}

        {% block content %}
            {% embed 'components/slider.twig' with { name: 'reviews' } %}
                {% block content %}
                    <div class="cards">
                        {% for item in [
                            {
                                name: 'МТС',
                                img: 'review-1'
                            },
                            {
                                name: '2GIS',
                                img: 'review-2'
                            },
                            {
                                name: 'Газпромбанк',
                                img: 'review-3'
                            },
                            {
                                name: 'Love Radio',
                                img: 'review-4'
                            }
                        ] %}
                            <div class="card">
                                <img class="card__img" src="{{theme.link}}/static/images/reviews/{{item.img}}.png" alt="{{item.name}}">

                                <h4 class="card__title">{{item.name}}</h4>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        name: 'corporate-steps',
        title: 'Чтобы начать обучение вам осталось:'
    } %}
        {% block content %}
            <div class="flex">
                <picture class="picture">
                    <img class="picture__image" src="{{theme.link}}/static/images/pictures/anastasia.png" alt="Анастасия Жителева">
                    <div class="picture__caption">
                        <h3 class="heading">Анастасия Жителева</h3>
                        <p class="text">Менеджер по работе с клиентами офлайн</p>
                    </div>
                </picture>

                <div class="card">
                    {% include 'components/list.twig' with {
                        type: 'steps',
                        items: [
                            {
                                content: 'Заявка на сайте или звонок в школу'
                            },
                            {
                                content: 'Консультация по телефону исходя из вашего запроса'
                            },
                            {
                                content: 'Разработка коммерческого предложения'
                            },
                            {
                                content: 'Проведение тестирования сотрудников'
                            },
                            {
                                content: 'Пробные уроки по уровням'
                            },
                            {
                                content: 'Подписание договора и оплата обучения'
                            },
                            {
                                content: 'Начало обучения'
                            }
                        ]
                    } %}

                    <button class="btn btn--lg btn--purple" data-modal-trigger="callback-modal">Заполнить заявку на обучение</button>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}