{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/mainscreen-big.twig' with {
        mixin: 'offline',
        title: 'Обучение английскому языку в группе офлайн в Москве',
        description: 'Если вы живете в Москве и цените личное общение и командный дух, то данный формат для вас!',
        btnText: 'Оставить заявку',
        img: 'mainscreen-10',
        showBtn: true
    } %}

	{% include 'sections/about-course.twig' with {
       mixin: 'about-course--offline',
       title: 'Наша школа предлагает групповое обучение в Москве в пяти минутах от метро Павелецкая.',
       text: 'Обучение в группе даст не «удешевление» стоимости занятий, а дополнительную мотивацию, интересное общение и отработку языкового навыка с разными людьми и акцентами.',
       purpose: 'Важной особенностью группового офлайн обучения в школе SAY YES является интенсивность занятий: 2 раза в неделю по 4 академических часа при вечернем расписании.'
    } %}

	<section class="offline-shortly">
        <div class="section-container">
            <h2 class="subtitle">Коротко о групповом офлайн обучении*</h2>

            <div class="text-blocks text-blocks--offline-shortly">
                {% for item in [
                    {
                        image: 'lightning',
                        title: 'Интенсивность  обучения',
                        description: '2 раза в неделю или 1 раз в выходной'
                    },
                    {
                        image: 'clock',
                        title: 'Длительность занятия',
                        description: '2,5 ак. часа — утро/день или 4 ак. часа — вечер'
                    },
                    {
                        image: 'calendar',
                        title: 'Расписание занятий',
                        description: 'Пн-Чт/Вт-Пт/Ср-Сб или Вскр'
                    },
                    {
                        image: 'levels-2',
                        title: 'Продолжительность уровня',
                        description: 'От 6 до 7 месяцев'
                    },
                    {
                        image: 'rubles',
                        title: 'Стоимость занятий',
                        description: 'От 9.000 ₽/мес.'
                    }
                ] %}
                    <div class="text-block text-block--{{item.image}}-bg">
                        <h4 class="text-block__title">{{item.title}}</h4>
                        <p class="text-block__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>

            <p class="offline-shortly__info">*Даты старта групп, точное расписание и информацию по действующим группам вы можете уточнить у менеджеров по телефонам:</p>

            <p class="offline-shortly__number">8 499 650-53-47 / 8 925 091-64-16</p>
        </div>
    </section>

	{% include 'sections/trial-lesson-mini.twig' %}

	{% include 'sections/about-course.twig' with {
        mixin: 'about-course--offline-2',
        title: 'Как проходят занятия в группе офлайн',
        text: 'Обучение происходит в группах от 4-х до 10-ти человек. Основной принцип обучения в нашей школе — доведение навыка использования языка до автоматизма.',
        purpose: 'Бóльшую часть урока новые фразы, слова, диалоги произносятся студентами вслух в парах, тем самым мы добиваемся 70% разговорной практики даже на групповых уроках.'
    } %}

	{% include 'sections/video.twig' with {
        mixin: 'offline',
        subtitle: 'Посмотрите видео о методике школы',
        videoImg: 'video-section-2',
        videoUrl: 'https://www.youtube.com/embed/Vsfz_1QzwDA'
    } %}

	<section class="peculiarity">
        <div class="section-container">
            <h2 class="subtitle">Особенности группового обучения в SAY YES!</h2>
            
            <div class="peculiarity__cards">
                {% for item in [
                    {
                        title: 'Занятия по удобному расписанию',
                        description: 'Предлагаем уроки утром, днем, вечером или по выходным.'
                    },
                    {
                        title: 'Закрепление материала на онлайн платформе',
                        description: 'Наша онлайн платформа позволяет вам выполнять домашку в удобном виде, интерактивно и эффективно.'
                    },
                    {
                        title: 'Гибкая система оплаты',
                        description: 'Оплата обучения помесячно. Возможен перенос занятий и заморозка.'
                    },
                    {
                        title: 'Возможность экономии',
                        description: 'Скидка 10% при оплате 3-х месяцев и 20% при оплате 6 месяцев.'
                    }
                ] %}
                    <div class="peculiarity__card">
                        <h4 class="peculiarity__title">{{item.title}}</h4>
                        
                        <p class="peculiarity__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

	{% include 'sections/course-feedback.twig' with {
        class: 'course-feedback__offline',
        title: 'Отзывы о групповом офлайн обучении',
        courseFeedback: data.courseFeedbackAdults,
        btnColor: 'btn--yellow'
    } %}

	{% include 'sections/course-faq.twig' %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}