{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/hero.twig' with {
		title: page.heading ?? page.title,
		description: page.content,
		image: 'team.png'
	} %}

	{% include 'sections/trial-lesson.twig' %}

	{% embed 'components/section.twig' with {
		name: 'tangible-result'
	} %}
		{% block title %}
			Английский <span class="color-primary">с ощутимым результатом</span> уже через месяц занятий
		{% endblock %}

		{% block description %}
			<p>Команда преподавателей отвечает за ваш прогресс, а менеджеры создают приятную атмосферу, в которую хочется возвращаться.</p>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'practice',
		title: 'Максимальная практика английского языка'
	} %}
		{% block content %}
			<div class="practice__text">
				<p class="text">С первого занятия 70% урока говорите вы.</p>
				<p class="text">Ведь чтобы научиться говорить на языке - нужно очень много практиковать.</p>
			</div>

			<div class="practice__image">
				<img class="image" src="{{theme.link}}/static/images/pictures/practice.jpg" alt="Практика">
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'dream-team',
		title: 'Преподаватели мечты'
	} %}
		{% block content %}
			<div class="dream-team__info">
				<div class="text">
					<p>Влюблены в свое дело и не дадут скучать. Преподаватель SAY YES! — это опытный, харизматичный и современный педагог.</p>

					<p>Оставьте заявку, мы подберем вам преподавателя и расскажем о курсах.</p>
				</div>

				<button class="btn btn--yellow btn--full" data-modal-trigger="request-modal">Оставить заявку</button>
			</div>

			<div class="dream-team__video">
				{% include 'components/video.twig' with {
					filename: 'teacher.mp4',
					autoplay: true
				} %}
			</div>

			<div class="dream-team__advantages">
				{% for item in [
					{ number: 1, title: 'из 58 кандидатов', description: 'проходит отбор' },
					{ number: 2, title: 'месяца', description: 'педагоги обучаются методике Школы' },
					{ number: 8, title: 'лет', description: 'средний стаж преподавателя' },
				] %}
					<div class="advantage">
						<div class="advantage__heading">
							<strong class="advantage__number">{{item.number}}</strong>
							<span class="advantage__text">{{item.title}}</span>
						</div>
						
						<div class="advantage__description">{{item.description}}</div>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'platform',
		title: 'Собственная онлайн платформа',
		description: 'Для удобного и нескучного закрепления материала дома и проведения онлайн уроков'
	} %}
		{% block content %}
			{# {% include 'components/video.twig' with {
				youtube_id: '6ISA01NE2rY',
				image: {
					path: 'platform/platform-desktop.png',
					alt: 'Собственная онлайн платформа'
				},
				modal: true
			} %} #}

			<img class="image" src="{{theme.link ~ '/static/images/platform/platform-desktop.png'}}" alt="Онлайн платформа" />

			{% include 'components/list.twig' with {
				type: 'ul',
				items: [
					{
						title: 'Все в одном месте',
						description: 'Быстрый доступ к электронному учебнику, домашним заданиям и личному кабинету.'
					},
					{
						title: 'Эффективное взаимодействие',
						description: 'Во время урока преподаватель сразу видит ваши ответы и подробно объясняет ошибки.'
					},
					{
						title: 'Удобный личный кабинет',
						description: 'Преподаватель добавляет в электронный учебник упражнения, которые полезны именно вам.'
					}
				]
			} %}
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'atmosphere',
		title: 'Атмосфера «второго дома»'
	} %}
		{% block description %}
			<p>SAY YES! это место, куда хочется возвращаться.</p>
			<p>Мы создаем дружескую атмосфру и проводим мероприятия для погружения в языковую среду.</p>
		{% endblock %}

		{% block content %}
			<div class="atmosphere__trip">
				<ul class="list">
					<li class="list-item">Совместные выезды</li>
					<li class="list-item">Онлайн встречи</li>
				</ul>
				
				<img class="image" src="{{theme.link}}/static/images/atmosphere/atmosphere-1.jpg" alt="Совместные выезды">
			</div>

			<div class="atmosphere__celebration">
				<ul class="list">
					<li class="list-item">Отмечаем праздники вместе</li>
					<li class="list-item">Караоке на перемене</li>
				</ul>

				<div class="atmosphere__celebration-media">
					{% include 'components/video.twig' with {
						class: 'atmosphere__celebration-img',
						filename: 'graduation.mp4',
						autoplay: true
					} %}

					{% include 'components/video.twig' with {
						filename: 'singing.mp4',
						image: {
							path: 'atmosphere/atmosphere-3.jpg',
							alt: 'Отмечаем праздники вместе'
						},
						modal: true,
						vertical: true
					} %}

					{% include 'components/video.twig' with {
						class: 'atmosphere__celebration-img-2',
						filename: 'celebration.mp4',
						autoplay: true
					} %}
				</div>
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'student-progress'
	} %}
		{% block title %}
			Наши ученики рассказывают
			<span class="color-primary">о своем прогрессе</span>
		{% endblock %}

		{% block description %}
			<p>Лучшие показатели нашей работы — это студенты, уверенно владеющие языком.</p>
			<p>Ученики рассказывают о своих результатах и процессе обучения в SAY YES! на английском:</p>
		{% endblock %}

		{% block content %}
			{% include 'blocks/student-progress-slider.twig' with {
				items: reports
			} %}
		{% endblock %}
	{% endembed %}

	{% include 'sections/trial-lesson-cta.twig' %}

	{% include 'sections/awards.twig' %}

	{% include 'sections/courses.twig' with {
		courses_adults,
		courses_children,
		with_help: true
	} %}

	{% include 'sections/formats.twig' %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}