{% extends 'layouts/base.twig' %}

{% block content %}
	<section class="meeting">
        <div class="meeting-card">
            <img class="meeting-card__img" src="./assets/images/meetings/{{meeting.img.src}}.jpg" alt="{{meeting.img.alt}}">

            <div class="meeting-card__content">
                <div class="meeting-card__left">
                    <div class="meeting-card__header">
                        <p class="meeting-card__info">{{meeting.date}}</p>

                        <div class="tags">
                            {% for tag in meeting.tags %}
                                <span class="tag {{tag.class}}">{{tag.text}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <h3 class="meeting-card__title">{{meeting.title}}</h3>

                    <p class="meeting-card__description">{{meeting.description}}</p>

                    <p class="meeting-card__address">{{meeting.address}}</p>

                    <div class="meeting-card__footer">
                        <ul class="meeting-card__list">
                            <li class="meeting-card__list-item">
                                {% include 'components/icon.twig' with {class: 'icon--teacher'} %}

                                <a class="meeting-card__name" href="{{meeting.teacher.url}}">{{meeting.teacher.name}}</a>
                            </li>

                            <li class="meeting-card__list-item">
                                {% include 'components/icon.twig' with {class: 'icon--time icon--white'} %}

                                <span class="meeting-card__time">{{meeting.time}}</span>
                            </li>
                        </ul>

                        <p class="meeting-card__price">{{meeting.price}}</p>
                    </div>
                </div>

                <form action="post" class="registration">
                    <h3 class="registration__title">Регистрация на встречу</h3>

                    <input type="text" placeholder="Имя" class="input">

                    <input type="text" placeholder="+7 (999) 999-99-99" class="input">
                    
                    <input type="text" placeholder="Email" class="input">

                    <button class="btn btn--full">Оставить заявку</button>

                    {% include 'components/checkbox.twig' with {
                        name: 'registrationMeetingCheckbox'
                    } %}
                </form>
            </div>
        </div>
    </section>

	{% embed 'components/section.twig' with {
        name: 'speaking-club-faq',
        title: 'Часто задаваемые вопросы'
    } %}
        {% block content %}
            {% include 'blocks/speaking-clug-faq.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}