{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
        title: page.heading ?? page.title,
        description: page.content,
        button: true,
        image: page.thumbnail
    } %}

    {% include 'sections/courses.twig' with {
        title: 'Мы предлагаем курсы для взрослых и детей в различных форматах: офлайн в Москве, онлайн в группе и индивидуально.',
        description: 'Выберите необходимое для вас обучение.',
		courses_adults,
		courses_children
	} %}

	{% include 'sections/trial-lesson-cta.twig' %}

	{% embed 'components/section.twig' with {
        name: 'discounts',
        title: 'Акции и скидки',
        description: 'Ваше обучение может быть выгоднее!'
    } %}
        {% block content %}
            <div class="card grid grid--3">
                {% for item in [
                    {
                        title: 'Покупка всего курса',
                        description: 'Оплачивайте по три или шесть месяцев сразу и учитесь выгоднее.*',
                        image: 'books-2',
                        image2: 'discount'
                    },
                    {
                        title: 'Приведи друга',
                        description: 'Рекомендуйте нас друзьям, и мы подарим вам и другу 2 урока к любому курсу!*',
                        image: 'student',
                        image2: 'free-lessons'
                    },
                    {
                        title: 'Семейное обучение',
                        description: 'Учите английский всей семьёй и получите постоянную скидку 20%.*',
                        image: 'family',
                        image2: 'discount-2'
                    }
                ] %}
                    <div class="text-card text-card--{{item.image}}-bg text-card--{{item.image2}}-bg card">
                        <h4 class="card__title">{{item.title}}</h4>
                        <p class="card__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>

            <p class="asterisk-text text">* Узнавайте подробности и условия акции у менеджеров</p>
        {% endblock %}
    {% endembed %}

	{% embed 'components/section.twig' with {
        name: 'certificates',
        title: 'Подарочные сертификаты',
        horizontal: true
    } %}
        {% block content %}
            <div class="text">
                <p>Практика английского — универсальный подарок для любого активного человека.</p>
                <p>Подарите своим близким возможность развиваться и совершенствоваться</p>
            </div>

            <button class="btn">Подарить сертификат</button>
        {% endblock %}

        {% block media %}
            <img class="image" src="{{theme.link}}/static/images/pictures/certificates.png" alt="Say Yes">
        {% endblock %}
    {% endembed %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}