{% extends 'layouts/base.twig' %}

{% set meetings = [
    {
        img: {
            src: 'meeting-1',
            alt: 'Say Yes'
        },
        tags: [
            {
                text: 'Intermediate'
            },
            {
                text: 'Офлайн',
                class: 'tag--violet tag--no-border'
            }
        ],
        date: '28 мая в 15:00 МСК',
        title: 'Friends: a legendary sitcom',
        teacher: {
            name: 'Анастасия Стецюк',
            url: '#'
        },
        time: '90 минут',
        price: '590 руб.'
    },
    {
        img: {
            src: 'meeting-2',
            alt: 'Say Yes'
        },
        tags: [
            {
                text: 'Pre-intermediate'
            },
            {
                text: 'Онлайн',
                class: 'tag--yellow tag--no-border'
            }
        ],
        date: '04 июня в 15:00 МСК',
        title: 'How to be an interesting person?',
        teacher: {
            name: 'Yahya Ceesay',
            url: '#'
        },
        time: '60 минут',
        price: '490 руб.'
    },
    {
        img: {
            src: 'meeting-3',
            alt: 'Say Yes'
        },
        tags: [
            {
                text: 'Pre-intermediate'
            },
            {
                text: 'Онлайн',
                class: 'tag--yellow tag--no-border'
            }
        ],
        date: '15 июня в 19:00 МСК',
        title: 'How to stay calm',
        teacher: {
            name: 'Abigail Richards',
            url: '#'
        },
        time: '60 минут',
        price: '490 руб.'
    }
] %}

{% set faq = [
    {
        title: 'Могу я просто тихонько послушать?',
        description: 'test'
    },
    {
        title: 'Как быть, если я очень плохо знаю английский?',
        description: 'Записывайтесь на встречи начального уровня. Ведущий подбирает максимально простые слова и выражения, которые понятны большинству. Да и остальные участники так же, так и вы, только начинают учить английский.',
        'status': 'accordion__item--active'
    },
    {
        title: 'А если я ничего не пойму? Или меня не поймут?',
        description: 'test'
    },
    {
        title: 'Что если очередь до меня не дойдет, и я не смогу высказаться?',
        description: 'test'
    },
    {
        title: 'Я смогу выучить английский в разговорном клубе?',
        description: 'test'
    }
] %}

{% block content %}
	{% embed 'sections/hero.twig' with {
        image: 'person.png'
    } %}
        {% block title %}
            <span class="text text--yellow">Разговорный клуб</span> по цене чашки кофе
        {% endblock %}

        {% block content %}
			<p>
                Практикуй английский онлайн
                <span class="text text--yellow">с носителями языка</span>
                и улучшай свои разговорные навыки!
            </p>

            <button class="feedback-btn btn btn--yellow">Записаться</button>
		{% endblock %}
    {% endembed %}

	<section class="club-shortly">
        <div class="section-container">
            <h2 class="subtitle">Коротко о разговорном клубе SAY YES!</h2>

            <div class="club-shortly__blocks">
                {% for item in [
                    {
                        title: 'Уровни',
                        description: 'От Elementary до Advanced',
                        class: 'text-block--yellow text-block--levels-bg'
                    },
                    {
                        title: 'Темы',
                        description: 'Актуальные, «на злобу дня» ',
                        class: 'text-block--yellow text-block--fire-bg'
                    },
                    {
                        title: 'Ведущие',
                        description: 'Русскоязычные и носители языка',
                        class: 'text-block--yellow text-block--webcam-2-bg'
                    },
                    {
                        title: 'Формат',
                        description: 'Онлайн встречи в ZOOM',
                        class: 'text-block--yellow text-block--format-bg'
                    }
                ] %}
                    <div class="text-block {{item.class}}">
                        <h4 class="text-block__title">{{item.title}}</h4>
                        <p class="text-block__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

	{% include 'sections/big-cards.twig' with {
        class: 'big-cards--speaking-club',
        title: 'Почему вам стоит посещать разговорные клубы?',
        cards: [
            {
                title: 'Practice makes perfect!',
                list: [
                    {
                        property: 'Чтобы заговорить на языке свободно, нужно много его практиковать. Разговорный клуб онлайн – легкий способ внедрить в свою жизнь английский, не выходя из дома!'
                    }
                ]
            },
            {
                title: '70 % встречи говорите ВЫ!',
                list: [
                    {
                        property: 'Благодаря ZOOM, где есть отдельные кабинеты для общения с напарником, вы будете говорить бОльшую часть времени! Попробуйте и оцените, как много вы успели обсудить на встрече!'
                    }
                ]
            },
            {
                title: 'Общение с носителями языка',
                list: [
                    {
                        property: 'Наш разговорный клуб — прекрасная возможность пообщаться с теми, для кого английский — родной язык. Слушая и копируя красивую речь носителей языка, вы преобразите свое произношение.'
                    }
                ]
            },
            {
                title: 'Встречи под ваш уровень знаний',
                list: [
                    {
                        property: 'Чтобы вам было интересно, выбирайте встречи вашего уровня, и общайтесь со всеми без стеснения!'
                    }
                ]
            },
            {
                title: 'Самые харизматичные ведущие EVER!',
                list: [
                    {
                        property: 'Обещаем, наши ведущие будут самыми позитивными и профессиональными, что вы встречали в мире онлайн клубов! Приходите на первую встречу, и вы захотите еще и еще! ;)'
                    }
                ]
            },
            {
                title: 'Пополнение словарного запаса',
                list: [
                    {
                        property: 'Для каждой встречи преподаватель готовит список новых полезных выражений для обсуждения и применения в диалогах. Также вы получаете этот список с заданиями на закрепление дома.'
                    }
                ]
            }
        ]
    } %}

	{% include 'sections/cards-square.twig' with {
        class: 'cards-square--speaking-club',
        title: 'Как проходит встреча разговорного клуба в SAY YES?',
        cards: [
            {
                title: 'Регистрация',
                description: 'Выбирайте встречу вашего уровня и оплачивайте участие. Данные для входа вам придут на почту.',
                tip: 'Шаг 1',
                class: 'text-block--student-2-bg'
            },
            {
                title: 'Подготовка',
                description: 'Чтобы встреча прошла еще эффективнее, мы пришлем вам на почту материалы для ознакомления.',
                tip: 'Шаг 2',
                class: 'text-block--notes-2-bg'
            },
            {
                title: 'Знакомство',
                description: 'Выходите в онлайн в установленное время, по ссылке в письме.',
                tip: 'Шаг 3',
                class: 'text-block--contact-2-bg'
            },
            {
                title: 'Общение',
                description: 'Благодаря «кабинетам» в ZOOM вы будете много общаться и получите много практики языка.',
                tip: 'Шаг 4',
                class: 'text-block--contacts-2-bg'
            }
        ]
    } %}

	<section class="meetings">
        <h2 class="subtitle">Ближайшие встречи</h2>
        
        <p class="meetings__description">Не упустите возможность попрактиковать свой английский в кругу единомышленников — записывайтесь на ближайшую встречу прямо сейчас!</p>

        {% embed 'components/slider.twig' with { name: 'meetings' } %}
            {% block content %}
                <div class="meetings__cards">
                    {% for item in meetings %}
                        <div class="meeting-card">
                            <img class="meeting-card__img" src="{{theme.link}}/static/images/meetings/{{item.img.src}}.jpg" alt="{{item.img.alt}}">

                            <div class="meeting-card__content">
                                <div class="tags">
                                    {% for tag in item.tags %}
                                        <span class="tag {{tag.class}}">{{tag.text}}</span>
                                    {% endfor %}
                                </div>

                                <p class="meeting-card__info">{{item.date}}</p>

                                <h3 class="meeting-card__title">{{item.title}}</h3>

                                <ul class="meeting-card__list">
                                    <li class="meeting-card__list-item">
                                        {% include 'components/icon.twig' with { class: 'icon--teacher' } %}

                                        <a href="{{item.teacher.url}}" class="meeting-card__name">{{item.teacher.name}}</a>
                                    </li>

                                    <li class="meeting-card__list-item">
                                        {% include 'components/icon.twig' with { class: 'icon--time icon--white' } %}

                                        <span class="meeting-card__time">{{item.time}}</span>
                                    </li>
                                </ul>

                                <p class="meeting-card__price">{{item.price}}</p>

                                <a class="btn btn--md" href="{{item.url}}" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        {% endembed %}
    </section>

	{% embed 'sections/img-comment.twig' with {
        class: 'img-comment--speaking-club',
        title: 'Разговорный клуб проводят ТОП преподаватели SAY YES!',
        img: 'casey.png'
    } %}
        {% block content %}
            <p class="appeal__description">Ведущие нашего онлайн клуба — самые опытные и харизматичные преподаватели SAY YES! и носители языка из Англии и США.</p>
            <p class="appeal__description">Наши ведущие прошли обучение формату ведения уроков онлайн и могут разговорить любого, даже самого интровертного участника.</p>
        {% endblock %}
    {% endembed %}

	{% include 'sections/video.twig' with {
        title: 'Посмотрите, как проходят встречи нашего разговорного клуба',
        video: {
			youtube_id: 'Vsfz_1QzwDA',
			image: {
				path: 'video-sections/video-section-2.jpg'
			},
			modal: true
		}
    } %}

	<section class="participants-feedback">
        <div class="section-container">
            <h2 class="subtitle">Отзывы участников</h2>

            <p class="participants-feedback__description">Мы готовы вкладываться в ваше развитие, но базовый опыт и знания необходимы уже со старта работы у нас в школе.</p>

            {% embed 'components/slider.twig' with { name: 'feedback' } %}
                {% block content %}
                    <div class="participants-feedback__cards">
                        {% for item in [
                            {
                                author: {
                                    name: 'Мария Коробова',
                                    inst: '#'
                                },
                                text: [
                                    'Всем привет!) Меня зовут Маша и я обучаюсь в SayYes уже более месяца. В прошлую субботу решила поучаствовать в онлайн спикинг клабе. Это был мой первый опыт в подобном формате обучения. Сразу скажу, что мне все очень понравилось, было интересно и весело. Мы болтали о странах и их символах, в процессе нас разделяли по отдельным комнатам, чтобы мы могли пообщаться с другими участниками конференции тет-а-тет. И напоследок мы поиграли в интерактивную игру (прям вишенка на торте). Всего 1-1,5 часа в выходной день - а столько нового опыта, общения и пользу!)))'
                                ]
                            },
                            {
                                author: {
                                    name: 'Юрий Нилов',
                                    inst: '#'
                                },
                                text: [
                                    'Hi, my name is Yura! Я был на обоих мероприятиях разговорного клуба: Cinema and Books и The Past and the Future. Мне всё понравилось.',
                                    'Было весело и полезно поговорить и даже поспорить с незнакомыми людьми, ведь не у каждого есть друзья, с которыми можно пообщаться на английском языке. Мероприятия проходили в формате онлайн и было здорово, что все участники делились по комнатам и постоянно менялись. Именно поэтому получилось наговориться вдоволь. Я считаю, что разговорные клубы нужны в дполнение к курсам английского. Тут ты сможешь разговориться и улучшить свои навыки. Жду с нетерпением следующего спикинга!'
                                ]
                            }
                        ] %}
                            <div class="participants-feedback__card">
                                {% for paragraph in item.text %}
                                    <p class="participants-feedback__text">{{paragraph}}</p>
                                {% endfor %}

                                <div class="participants-feedback__author">
                                    <a href="{{item.author.inst}}" class="participants-feedback__link">{{item.author.name}}</a>

                                    {% include 'components/icon.twig' with {
                                        class: 'icon--inst'
                                    } %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    {% include 'sections/speaking-club-faq.twig' %}

	<section class="club-events">
        <div class="club-events__info">
            <h2 class="club-events__title">Мероприятия клуба</h2>

            <p class="club-events__description">Подпишитесь на рассылку и первым узнавайте о предстоящих мероприятиях разговорного клуба!</p>
        </div>

        <form class="club-events__form">
            <input type="text" placeholder="Имя" class="club-events__input">

            <input type="text" placeholder="+7 (999) 999-99-99" class="club-events__input">

            <button class="btn btn--full">Оставить заявку</button>

            {% include 'components/checkbox.twig' with {
                name: 'clubEventsCheckbox'
            } %}
        </form>
    </section>
{% endblock %}