{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/mainscreen-big.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        button: true,
        image: page.thumbnail
	} %}

	<section class="teachers">
        <div class="section-container">
            <h2 class="subtitle">В нашей команде более 80 профессиональных преподавателей.</h2>

            <div class="teachers__description">
                <p>Мы ценим не только опыт и образование, но и энергичность, современность и жизнелюбие наших преподавателей.</p>

                <p>Выберите удобный формат обучения и познакомьтесь с настоящими фанатами своего дела.</p>
            </div>

            {% embed 'components/tabs.twig' with {
                tabs: [
                    {
                        content: 'Офлайн в Москве',
                        target: '.offline-teachers',
                        active: true
                    },
                    {
                        content: 'Онлайн по всему миру',
                        target: '.online-teachers'
                    }
                ],
                pills: true,
                color: 'magenta'
            } %}
                {% from 'components/teacher-card.twig' import teacher_card %}

                {% block content %}
                    <div class="offline-teachers">
                        <div class="cards">
                            {% for teacher in offline_teachers|slice(0, 6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>

                        {% include 'sections/trial-lesson-mini.twig' %}

                        <div class="cards">
                            {% for teacher in offline_teachers|slice(6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="online-teachers hidden">
                        <div class="cards">
                            {% for teacher in online_teachers|slice(0, 6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>

                        {% include 'sections/trial-lesson-mini.twig' %}

                        <div class="cards">
                            {% for teacher in online_teachers|slice(6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </section>
{% endblock %}

{% block modal %}
    {% embed 'components/modal.twig' with {
        class: 'teacher-modal'
    } %}
        {% block content %}
            {% include 'components/teacher-block.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
    <script>
        const teachers = {{teachers|map(t => ({
            id: t.id,
            name: t.name,
            imageUrl: t.thumbnail.src('medium'),
            videoUrl: '',
            content: t.content,
            experience: t.experience,
            certificates: t.certificates
        }))|json_encode(
            constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE')
        )}}.reduce((result, t) => {
            result[t.id] = t;
            return result;
        }, {});

        const store = PetiteVue.reactive({
            teacher: null,

            setTeacher(teacher) {
                this.teacher = teacher;
            }
        });

        PetiteVue.createApp({
            $delimiters: ['${', '}'],
            store,
            get teacher() {
                return this.store.teacher;
            },
            get teacherVideoEmbedUrl() {
                return this.teacher && `https://www.youtube.com/embed/${this.teacher.videoId}`;
            },
        }).mount('.teacher-block');

        const teacherModal = new window.ui.Modal('.teacher-modal');

        function handleTeacherButtonClick(event) {
            const id = event.currentTarget.dataset.id;
            store.setTeacher(teachers[id]);
            teacherModal.open();
        }

        document.querySelectorAll('.teacher-btn').forEach(button => {
            button.addEventListener('click', handleTeacherButtonClick);
        });
    </script>
{% endblock %}