{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/mainscreen-big.twig' with {
        mixin: 'teachers',
		title: 'Сильные и харизматичные преподаватели SAY YES! — главная причина вашего прогресса.',
        description: 'Доверьте свой английский экспертам, кто прошел наш строгий отбор.',
        splitImg1: 'mainscreen-split-1',
        splitImg2: 'mainscreen-split-2',
        btnText: 'Оставить заявку',
        showSplit: true,
        showBtn: true
	} %}

	<section class="teachers">
        <div class="section-container">
            <h2 class="subtitle">В нашей команде более 80 профессиональных преподавателей.</h2>

            <p class="teachers__description">Мы ценим не только опыт и образование, но и энергичность, современность и жизнелюбие наших преподавателей.</p>

            <p class="teachers__description">Выберите удобный формат обучения и познакомьтесь с настоящими фанатами своего дела.</p>

            <div class="tabs">
                <div class="tabs__nav tabs__nav--teachers">
                    <button class="tabs__tab active">Офлайн в Москве</button>
                    <button class="tabs__tab">Онлайн по всему миру</button>
                </div>

                <div class="tabs__content">
                    <div class="tabs__item active">
                        <div class="cards">
                            {% for teahcer in offline_teachers[0:6] %}
                                {% include 'components/teacher-card.twig' with {
                                    teahcer
                                } %}

                                {# <div class="card card--{{person.type}}">
                                    <img class="card__img" src="{{theme.link}}/static/images/teachers/{{person.img}}.jpg" alt="{{person.name}}">
                                    <div class="card__content">
                                        <h3 class="card__name">{{person.name}}</h3>

                                        <ul class="card__description">
                                            {% for merits in person.merits %}
                                                <li>
                                                    {{merits.merit}}:
                                                    {{merits.description}}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <button class="btn btn--transparent btn--transparent-black btn--md" id="{{person.teacherId}}">Подробнее</button>
                                    </div>
                                </div> #}

                                {% include 'components/modal.twig' with {
                                    modal: 'teacher',
                                    id: person.teacherId,
                                    teacher: person
                                } %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="tabs__item">
                        <div class="cards">
                            {% for person in data.online_teachers[0:6] %}
                                <div class="card card--{{person.type}}">
                                    <img src="{{theme.link}}/static/images/teachers/{{person.img}}.jpg" alt="{{person.name}}" class="card__img">

                                    <div class="card__content">
                                        <h3 class="card__name">{{person.name}}</h3>

                                        <ul class="card__description">
                                            {% for merits in person.merits %}
                                                <li>
                                                    <span class="text text--weight-700">{{merits.merit}}</span>:
                                                    {{merits.description}}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <button class="btn btn--transparent btn--transparent-black btn--md" id="{{person.teacherId}}">Подробнее</button>
                                    </div>
                                </div>

                                {% include 'components/modal.twig' with {
                                    modal: "teacher",
                                    id: person.teacherId,
                                    teacher: person
                                } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'sections/trial-lesson-mini.twig' %}

    <section class="teachers">
        <div class="section-container">
            <div class="cards">
                {% for person in teacherCards2 %}
                    <div class="card card--{{person.type}}">
                        <img class="card__img" src="{{theme.link}}/static/images/teachers/{{person.img}}.jpg" alt="{{person.name}}">
                        <div class="card__content">
                            <h3 class="card__name">{{person.name}}</h3>

                            <ul class="card__description">
                                {% for merits in person.merits %}
                                    <li>
                                        <span class="text text--weight-700">{{merits.merit}}</span>:
                                        {{merits.description}}
                                    </li>
                                {% endfor %}
                            </ul>

                            <button class="btn btn--transparent btn--transparent-black btn--md">Подробнее</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button class="btn btn--yellow">Показать ещё</button>
        </div>
    </section>

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}