{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/mainscreen-big.twig' with {
		title: 'Сильные и харизматичные преподаватели SAY YES! — главная причина вашего прогресса.',
        description: 'Доверьте свой английский экспертам, кто прошел наш строгий отбор.',
        button: true,
        image: {
			src: page.thumbnail.src,
			alt: page.thumbnail.alt
		}
	} %}

	<section class="teachers">
        <div class="section-container">
            <h2 class="subtitle">В нашей команде более 80 профессиональных преподавателей.</h2>

            <div class="teachers__description">
                <p>Мы ценим не только опыт и образование, но и энергичность, современность и жизнелюбие наших преподавателей.</p>

                <p>Выберите удобный формат обучения и познакомьтесь с настоящими фанатами своего дела.</p>
            </div>

            {% embed 'components/tabs.twig' with {
                tabs: [
                    {
                        content: 'Офлайн в Москве',
                        target: '.offline-teachers',
                        active: true
                    },
                    {
                        content: 'Онлайн по всему миру',
                        target: '.online-teachers'
                    }
                ]
            } %}
                {% block content %}
                    <div class="offline-teachers">
                        <div class="cards">
                            {% for teahcer in offline_teachers|slice(0, 6) %}
                                <div class="card card--{{teahcer.type}}">
                                    <img class="card__img" src="{{theme.link}}/static/images/teachers/{{teahcer.img}}.jpg" alt="{{teahcer.name}}">

                                    <div class="card__content">
                                        <h3 class="card__name">{{teahcer.name}}</h3>

                                        <ul class="card__description">
                                            {% for merits in person.merits %}
                                                <li>
                                                    {{merits.merit}}:
                                                    {{merits.description}}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <button class="teacher-btn btn btn--transparent btn--transparent-black btn--md" data-id="{{person.teacherId}}">Подробнее</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {% include 'sections/trial-lesson-mini.twig' %}

                        <div class="cards">
                            {% for teahcer in offline_teachers|slice(6) %}
                                <div class="card card--{{teahcer.type}}">
                                    <img class="card__img" src="{{theme.link}}/static/images/teachers/{{teahcer.img}}.jpg" alt="{{teahcer.name}}">

                                    <div class="card__content">
                                        <h3 class="card__name">{{teahcer.name}}</h3>

                                        <ul class="card__description">
                                            {% for merits in person.merits %}
                                                <li>
                                                    {{merits.merit}}:
                                                    {{merits.description}}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <button class="teacher-btn btn btn--transparent btn--transparent-black btn--md" data-id="{{person.teacherId}}">Подробнее</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="online-teachers hidden">
                        <div class="cards">
                            {% for teacher in online_teachers|slice(0, 6) %}
                                <div class="card card--{{teacher.type}}">
                                    <img class="card__img" src="{{theme.link}}/static/images/teachers/{{teacher.img}}.jpg" alt="{{teacher.name}}">

                                    <div class="card__content">
                                        <h3 class="card__name">{{teacher.name}}</h3>

                                        <ul class="card__description">
                                            {% for merits in teacher.merits %}
                                                <li>
                                                    {{merits.merit}}:
                                                    {{merits.description}}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <button class="teacher-btn btn btn--transparent btn--transparent-black btn--md" data-id="{{teacher.teacherId}}">Подробнее</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {% include 'sections/trial-lesson-mini.twig' %}

                        <div class="cards">
                            {% for teacher in online_teachers|slice(6) %}
                                <div class="card card--{{teacher.type}}">
                                    <img class="card__img" src="{{theme.link}}/static/images/teachers/{{teacher.img}}.jpg" alt="{{teacher.name}}">

                                    <div class="card__content">
                                        <h3 class="card__name">{{teacher.name}}</h3>

                                        <ul class="card__description">
                                            {% for merits in teacher.merits %}
                                                <li>
                                                    {{merits.merit}}:
                                                    {{merits.description}}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <button class="teacher-btn btn btn--transparent btn--transparent-black btn--md" data-id="{{teacher.teacherId}}">Подробнее</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </section>
{% endblock %}

{% block modal %}
    {% embed 'components/modal.twig' with {
        class: 'teacher-modal'
    } %}
        {% block content %}
            {% include 'components/teacher-block.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}