{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        button: true,
        image: page.thumbnail
	} %}

    {% embed 'components/section.twig' with {
        name: 'teachers',
        title: 'В нашей команде более 80 профессиональных преподавателей.'
    } %}
        {% block description %}
            <p>Мы ценим не только опыт и образование, но и энергичность, современность и жизнелюбие наших преподавателей.</p>
            <p>Выберите удобный формат обучения и познакомьтесь с настоящими фанатами своего дела.</p>
        {% endblock %}

        {% block content %}
            {% embed 'components/tabs.twig' with {
                tabs: [
                    {
                        content: 'Офлайн в Москве',
                        value: 'offline',
                        active: true
                    },
                    {
                        content: 'Онлайн по всему миру',
                        value: 'online'
                    }
                ],
                pills: true,
                color: 'violet'
            } %}
                {% from 'blocks/teacher-card.twig' import teacher_card %}

                {% block content %}
                    <div class="offline-teachers" data-tab-panel="offline">
                        <div class="cards-grid grid grid--3">
                            {% for teacher in offline_teachers|slice(0, 6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>

                        {% include 'sections/trial-lesson-cta.twig' %}

                        <div class="cards-grid grid grid--3">
                            {% for teacher in offline_teachers|slice(6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="online-teachers hidden" data-tab-panel="online">
                        <div class="cards-grid grid grid--3">
                            {% for teacher in online_teachers|slice(0, 6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>

                        {% include 'sections/trial-lesson-cta.twig' %}

                        <div class="cards-grid grid grid--3">
                            {% for teacher in online_teachers|slice(6) %}
                                {{teacher_card(teacher)}}
                            {% endfor %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% include 'sections/trial-lesson.twig' %}
{% endblock %}

{% block modal %}
    {% embed 'components/modal.twig' with {
        id: 'teacher-modal'
    } %}
        {% block content %}
            {% include 'blocks/teacher-block.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
    <script>
        const teachers = {{teachers|map(t => ({
            id: t.id,
            name: t.name,
            imageUrl: t.thumbnail.src('medium'),
            videoUrl: 'https://www.youtube.com/embed/' ~ t.youtube_id,
            content: t.content,
            experience: t.experience,
            education: t.education,
            certificates: t.certificates
        }))|json_encode(
            constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE')
        )}}.reduce((result, t) => {
            result[t.id] = t;
            return result;
        }, {});

        console.log(teachers);

        const teacherBlock = document.querySelector('#teacher-modal .teacher-block');
        const teacherModal = new window.ui.Modal('#teacher-modal');

        document.querySelectorAll('.teacher-btn').forEach(button => {
            button.addEventListener('click', handleTeacherButtonClick);
        });

        function handleTeacherButtonClick(event) {
            const id = event.currentTarget.dataset.id;
            const teacher = teachers[id];

            setTeacherData(teacherBlock, teacher);

            const review = teacherBlock.querySelector('.teacher-reviews__review');

            teacherModal.open();
        }

        function setTeacherData(teacherBlock, teacher) {
            const video = teacherBlock.querySelector('.video');
            const videoImage = video.children[0];
            videoImage.src = teacher.imageUrl;
            videoImage.alt = teacher.name;
            const videoButton = video.children[1];
            videoButton.setAttribute('data-embed-url', teacher.videoUrl);

            const title = teacherBlock.querySelector('.teacher-block__title');
            title.textContent = teacher.name;

            const experience = teacherBlock.querySelector('.teacher-details__experience');
            experience.classList.toggle('hidden', !teacher.experience);
            const experienceContent = experience.children[1];
            experienceContent.innerHTML = teacher.experience;

            const education = teacherBlock.querySelector('.teacher-details__education');
            education.classList.toggle('hidden', !teacher.education);
            const educationContent = education.children[1];
            educationContent.innerHTML = teacher.education;

            const certificates = teacherBlock.querySelector('.teacher-details__certificates');
            certificates.classList.toggle('hidden', !teacher.certificates);
            const certificatesContent = certificates.children[1];
            certificatesContent.innerHTML = teacher.certificates;

            const content = teacherBlock.querySelector('.teacher-details__description');;
            content.innerHTML = teacher.content;
        }
    </script>
{% endblock %}