{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        button: {
			content: 'Хочу работать преподавателем',
			modal_trigger: false,
			scroll_to: 'vacancies-cta'
		},
        image: page.thumbnail
	} %}

	{% embed 'components/section.twig' with {
		name: 'vacancies-expectations',
		title: 'Ожидание от кандидатов',
		description: 'Мы готовы вкладываться в ваше развитие, но базовый опыт и знания необходимы уже со старта работы у нас в школе.'
	} %}
		{% block content %}
			{% include 'blocks/fact-cards.twig' with {
				color: 'yellow',
				items: [
					{
						title: 'Квалификация',
						description: 'У вас есть профильное образование или международные сертификаты.',
						image: 'diploma'
					},
					{
						title: 'Опыт',
						description: 'Вы преподаете английский взрослым или детям не менее одного года.',
						image: 'clock-2'
					},
					{
						title: 'Речь',
						description: 'У вас хорошее произношение, близкое к носителям языка.',
						image: 'comment'
					},
					{
						title: 'Ценности',
						description: 'Вы готовы стать частью корпоративной политики Школы и соблюдать этику Компании.',
						image: 'leaves'
					},
					{
						title: 'Личные качества',
						description: 'Вы энергичны и дружелюбны. Вы обладаете способностью и желанием «заряжать» учеников.',
						image: 'heart'
					}
				],
				size: 'sm'
			} %}
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'vacancies-offers',
		title: 'Мы предлагаем:',
		color: 'purple'
	} %}
		{% block content %}
			<div class="grid grid-2-sm grid-3-lg">
				{% for item in [
					{
						title: 'Достойный доход',
						list: [
							{
								label: 'Средний доход:',
								value: '<strong>55&nbsp;тыс.&nbsp;руб.</strong>'
							},
							{
								label: 'Максимальный доход:',
								value: '<strong>100&nbsp;тыс.&nbsp;руб.</strong>'
							}
						]
					},
					{
						title: 'Гарантия занятости',
						description: 'Комфортная для вас нагрузка от 10 часов в неделю.'
					},
					{
						title: 'Обучение методике школы',
						description: 'Комфортная для вас нагрузка от 10 часов в неделю.'
					},
					{
						title: 'Тренинги <br> для повышения уровня обучения',
						description: 'Ежемесячно проводим мастерские для преподавателей.'
					},
					{
						title: 'Удобный онлайн класс',
						description: 'Платформа с готовыми уроками и автоматической проверкой ДЗ.'
					},
					{
						title: 'Онлайн или офлайн в Москве',
						description: 'Формат занятости выбираете вы.'
					}
				] %}
					<div class="text-card card card--sm">
						<h4 class="card__title">{{item.title}}</h4>

						{% if item.description %}
							<p class="card__description">{{item.description}}</p>
						{% endif %}

						{% if item.list %}
							<div class="card__content">
								<ul class="list gap-xs">
									{% for item in item.list %}
										<li class="list-item">
											{{item.label}}
											<span>{{item.value}}</span>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'vacancies-steps',
		title: 'Как стать частью команды?',
		horizontal: true
	} %}
		{% block content %}
			<div class="grid grid-2-sm">
				{% for item in [
					{
						subtitle: 'Шаг 1',
						title: 'Отклик',
						description: 'Отправьте резюме на вакансию школы английского языка ' ~ COMPANY_NAME,
						image: 'mail'
					},
					{
						subtitle: 'Шаг 2',
						title: 'Знакомство',
						description: 'Пройдите индивидуальное онлайн собеседование',
						image: 'contact'
					},
					{
						subtitle: 'Шаг 3',
						title: 'Обучение',
						description: 'Пройдите обучение у лучших методистов школы',
						image: 'cap'
					},
					{
						subtitle: 'Шаг 4',
						title: 'Сотрудничество',
						description: 'Начните сотрудничество с одной из современных школ английского языка',
						image: 'note'
					}
				] %}
					<div class="text-card text-card--{{item.image}}-bg card card--sm">
						<p class="card__suptitle">{{item.subtitle}}</p>
						<h3 class="card__title">{{item.title}}</h3>
						<p class="card__description">{{item.description}}</p>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'vacancies-action',
		title: 'Готовы стать частью нашей дружной команды?'
	} %}
		{% block description %}
			Ждем ваше резюме на почту
			<a href="mailto:hr@sayyes.school" class="color-primary">hr@sayyes.school</a>
			с пометкой какой формат преподавания (онлайн/офлайн/взрослые/дети) вам интересен.
		{% endblock %}

		{% block media %}
			<img class="image" src="{{theme.link}}/static/images/mainscreens/mainscreen-2.jpg" alt="Say Yes">
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		id: 'vacancies-cta',
		name: 'cta',
		class: 'vacancies-cta',
		color: 'yellow'
	} %}
		{% block content %}
			<a class="link link--primary link--underlined" href="https://hh.ru/employer/1418679" target="_blank" rel="noopener">Отправьте нам свое резюме</a>, а мы окружим вас заботой и мотивированными студентами
		{% endblock %}
	{% endembed %}
{% endblock %}